build/brief-4-1.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Brand Hub - Бренд мечты, а не мечты о бренде!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/brief.css?v=1">
    <link rel="stylesheet" href="css/nice-select.css?v=1">
    <link rel="stylesheet" href="css/ion.rangeSlider.css?v=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>
  </head>
</html>
<body>
  <section class="full_height_position center_block">
    <div class="dev_cont">
      <ul>
        <li><a href="brief-1-1.html">1-1.html</a></li>
        <li><a href="brief-1-2.html">1-2.html</a></li>
        <li><a href="brief-1-3.html">1-3.html</a></li>
        <li><a href="brief-1-4.html">1-4.html</a></li>
        <li><a href="brief-1-5.html">1-5.html</a></li>
        <li><a href="brief-1-6.html">1-6.html</a></li>
        <li><a href="brief-1-7.html">1-7.html</a></li>
        <li><a href="brief-2-1.html">2-1.html</a></li>
        <li><a href="brief-2-2.html">2-2.html</a></li>
        <li><a href="brief-3-1.html">3-1.html</a></li>
        <li><a href="brief-3-2.html">3-2.html</a></li>
        <li><a href="brief-4-1.html">4-1.html</a></li>
        <li><a href="brief-4-2.html">4-2.html</a></li>
        <li><a href="brief-5-1.html">5-1.html</a></li>
        <li><a href="brief-5-2.html">5-2.html</a></li>
        <li><a href="brief-6.html">6.html</a></li>
        <li><a href="brief-7-1.html">7-1.html</a></li>
        <li><a href="brief-7-2.html">7-2.html</a></li>
        <li><a href="brief-8-1.html">8-1.html</a></li>
        <li><a href="brief-8-2.html">8-2.html</a></li>
        <li><a href="brief-9-1.html">9-1.html</a></li>
        <li><a href="brief-9-2.html">9-2.html</a></li>
        <li><a href="brief-9-3.html">9-3.html</a></li>
        <li><a href="brief-9-4.html">9-4.html</a></li>
      </ul>
    </div>
    <header>
      <div class="logo"><a href="index.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
      <nav>
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Проекты</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </nav>
      <div class="header_right">
        <div class="notification"><img src="pic/notification-icon.svg" alt="Уведомления"><span class="active"></span></div>
        <div class="user"><img src="pic/user.jpg" alt="user name"></div>
      </div>
    </header>
    <div class="modal_block modal_active">
      <div class="modal">
        <div class="center_block_content">
          <div class="modal_pic"><img src="pic/breif-1.png" alt="Sample Title"></div>
          <p class="title">Sample Title</p>
          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nullam aliquam consectetur consectetur ultricies molestie tincidunt massa phasellus. Neque mauris, id ornare orci enim. Potenti aliquam volutpat porttitor a. Odio elementum semper tempus, odio facilisis tellus.</p>
          <button class="button blue_button" style="margin-top: 44px">Закрыть</button>
        </div>
      </div>
      <div class="modal_overlay"></div>
    </div>
    <footer>
      <div class="footer_item">
        <div class="logo"><a href="index2.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
        <div class="footer_nav">
          <ul>
            <li><a href="#">Сотрудничество</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Документы</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_item">
        <ul class="footer_social">
          <li><a href="#"><img src="pic/footer-social-1.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-2.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-3.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-4.svg"></a></li>
        </ul>
      </div>
      <div class="footer_copyright">© 2020</div>
    </footer>
    <script src="js/brief-dist.js"></script>
  </section>
</body>

brief/pages/brief-4-1.pug
include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.modal_block.modal_active
			.modal
				.center_block_content
					.modal_pic: img(src="pic/breif-1.png" alt="Sample Title")
					p.title Sample Title
					p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nullam aliquam consectetur consectetur ultricies molestie tincidunt massa phasellus. Neque mauris, id ornare orci enim. Potenti aliquam volutpat porttitor a. Odio elementum semper tempus, odio facilisis tellus.
					button.button.blue_button(style="margin-top: 44px") Закрыть
			.modal_overlay
		include ../includes/footer
