build/brief-8-1.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Brand Hub - Бренд мечты, а не мечты о бренде!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/brief.css?v=1">
    <link rel="stylesheet" href="css/nice-select.css?v=1">
    <link rel="stylesheet" href="css/ion.rangeSlider.css?v=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>
  </head>
</html>
<body>
  <section class="full_height_position center_block">
    <div class="dev_cont">
      <ul>
        <li><a href="brief-1-1.html">1-1.html</a></li>
        <li><a href="brief-1-2.html">1-2.html</a></li>
        <li><a href="brief-1-3.html">1-3.html</a></li>
        <li><a href="brief-1-4.html">1-4.html</a></li>
        <li><a href="brief-1-5.html">1-5.html</a></li>
        <li><a href="brief-1-6.html">1-6.html</a></li>
        <li><a href="brief-1-7.html">1-7.html</a></li>
        <li><a href="brief-2-1.html">2-1.html</a></li>
        <li><a href="brief-2-2.html">2-2.html</a></li>
        <li><a href="brief-3-1.html">3-1.html</a></li>
        <li><a href="brief-3-2.html">3-2.html</a></li>
        <li><a href="brief-4-1.html">4-1.html</a></li>
        <li><a href="brief-4-2.html">4-2.html</a></li>
        <li><a href="brief-5-1.html">5-1.html</a></li>
        <li><a href="brief-5-2.html">5-2.html</a></li>
        <li><a href="brief-6.html">6.html</a></li>
        <li><a href="brief-7-1.html">7-1.html</a></li>
        <li><a href="brief-7-2.html">7-2.html</a></li>
        <li><a href="brief-8-1.html">8-1.html</a></li>
        <li><a href="brief-8-2.html">8-2.html</a></li>
        <li><a href="brief-9-1.html">9-1.html</a></li>
        <li><a href="brief-9-2.html">9-2.html</a></li>
        <li><a href="brief-9-3.html">9-3.html</a></li>
        <li><a href="brief-9-4.html">9-4.html</a></li>
      </ul>
    </div>
    <header>
      <div class="logo"><a href="index.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
      <nav>
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Проекты</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </nav>
      <div class="header_right">
        <div class="notification"><img src="pic/notification-icon.svg" alt="Уведомления"><span class="active"></span></div>
        <div class="user"><img src="pic/user.jpg" alt="user name"></div>
      </div>
    </header>
    <div class="content_block">
      <div class="content_pagination"><a class="back_button" href="#"><img src="pic/pagination-back.svg"><span>Назад</span></a>
        <ul class="pagination_content">
          <li><a href="#">Шаг 1</a></li>
          <li class="active"><a href="#">Шаг 2</a></li>
          <li><a href="#">Шаг 3</a></li>
          <li><a href="#">Шаг 4</a></li>
        </ul>
      </div>
      <form>
        <div class="background background_margin content_form">
          <h1>Дополнительная информация</h1>
          <div class="additional_information">
            <div class="item like"><span class="title">Дизайн который нравится</span><span class="content">Добавьте ссылки/файлы на то, что Вам нравится</span>
              <div class="form_input">
                <input placeholder="Вставить ссылку">
                <button class="button blue_button"><img src="pic/link-icon.svg" alt="Прикрепить"><span>Прикрепить</span></button>
              </div>
              <div class="form_upload">
                <input type="file">
                <button class="button blue_button"><img src="pic/file-icon.svg" alt="Прикрепить файл"><span>Прикрепить файл</span></button>
              </div>
            </div>
            <div class="item dislike"><span class="title">Дизайн который нравится</span><span class="content">Добавьте ссылки/файлы на то, что Вам нравится</span>
              <div class="form_input">
                <input placeholder="Вставить ссылку">
                <button class="button red_button"><img src="pic/link-icon.svg" alt="Прикрепить"><span>Прикрепить</span></button>
              </div>
              <div class="form_upload">
                <input type="file">
                <button class="button red_button"><img src="pic/file-icon.svg" alt="Прикрепить файл"><span>Прикрепить файл</span></button>
              </div>
            </div>
          </div>
          <div class="additional_information_more">
            <div class="form_element_breif" style="margin-top: 20px">
              <textarea name="additional_information" placeholder="Дополнительная информация"></textarea>
            </div>
            <div class="form_upload">
              <input type="file">
              <button class="button blue_button"><img src="pic/file-icon.svg" alt="Прикрепить файл"><span>Прикрепить файл</span></button>
            </div>
            <div class="record_file_mic">
              <button>
                <div class="button_icon"><img src="pic/mic-icon.svg"></div>
                <p><span>Записать голосовую заметку</span><span>Предварительно разрешите сайту доступ к микрофону</span></p>
              </button>
            </div>
            <div class="content_button button_margin position_justify">
              <button class="button blue_button" style="width: 370px"><img src="pic/call-icon.svg" alt="Заказать звонок"><span>Заказать звонок</span></button>
              <button class="button blue_button" style="width: 370px"><img src="pic/chat-icon.svg" alt="Чат с специалистом"><span>Чат с специалистом</span></button>
            </div>
          </div>
        </div>
        <div class="content_button center justify button_margin success_brief">
          <button class="button blue_button" style="width: 299px">Завершить заполнение брифа</button>
        </div>
      </form>
    </div>
    <footer>
      <div class="footer_item">
        <div class="logo"><a href="index2.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
        <div class="footer_nav">
          <ul>
            <li><a href="#">Сотрудничество</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Документы</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_item">
        <ul class="footer_social">
          <li><a href="#"><img src="pic/footer-social-1.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-2.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-3.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-4.svg"></a></li>
        </ul>
      </div>
      <div class="footer_copyright">© 2020</div>
    </footer>
    <script src="js/brief-dist.js"></script>
  </section>
</body>

brief/pages/brief-8-1.pug
include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			form
				.background.background_margin.content_form
					h1 Дополнительная информация
					.additional_information
						.item.like
							span.title Дизайн который нравится
							span.content Добавьте ссылки/файлы на то, что Вам нравится
							.form_input
								input(placeholder="Вставить ссылку")
								button.button.blue_button
									img(src="pic/link-icon.svg" alt="Прикрепить")
									span Прикрепить
							.form_upload
								input(type="file")
								button.button.blue_button
									img(src="pic/file-icon.svg" alt="Прикрепить файл")
									span Прикрепить файл
						.item.dislike
							span.title Дизайн который нравится
							span.content Добавьте ссылки/файлы на то, что Вам нравится
							.form_input
								input(placeholder="Вставить ссылку")
								button.button.red_button
									img(src="pic/link-icon.svg" alt="Прикрепить")
									span Прикрепить
							.form_upload
								input(type="file")
								button.button.red_button
									img(src="pic/file-icon.svg" alt="Прикрепить файл")
									span Прикрепить файл
					.additional_information_more
						.form_element_breif(style="margin-top: 20px")
							textarea(name="additional_information" placeholder="Дополнительная информация")
						.form_upload
							input(type="file")
							button.button.blue_button
								img(src="pic/file-icon.svg" alt="Прикрепить файл")
								span Прикрепить файл
						.record_file_mic
							button
								.button_icon: img(src="pic/mic-icon.svg")
								p
									span Записать голосовую заметку
									span Предварительно разрешите сайту доступ к микрофону
						.content_button.button_margin.position_justify
							button.button.blue_button(style="width: 370px")
								img(src="pic/call-icon.svg" alt="Заказать звонок")
								span Заказать звонок
							button.button.blue_button(style="width: 370px")
								img(src="pic/chat-icon.svg" alt="Чат с специалистом")
								span Чат с специалистом
				.content_button.center.justify.button_margin.success_brief
					button.button.blue_button(style="width: 299px") Завершить заполнение брифа
		include ../includes/footer
