brief/pages/brief-9-4.pug
include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			.content_pagination
				a.back_button(href="#")
					img(src="pic/pagination-back.svg")
					span Назад
			.background.background_margin.content_form
				h1 Укажите тип договора
				.content_button.button_margin.position_justify
					button.button.blue_button(style="width: 300px") Договор с физ. лицом
					button.button.white_button(style="width: 300px") Договор с юр. лицом
			.background.background_margin.content_form
				form(style="width: 760px")
					h2 Заполните реквизиты
					.input_form_item.with_button
						span.title Инн*
						input(name="inn")
						button.button.blue_button Проверить
					.input_form_item
						span.title Название компании
						input(name="company_name")
					.input_form_item
						span.title Юридический адрес
						input(name="legal_address")
					.input_form_item
						span.title Почтовый адрес
						input(name="mailing_address")
					.input_form_item
						span.title ИНН
						input(name="inn_text")
					.input_form_item
						span.title КПП
						input(name="kpp")
					.input_form_item
						span.title ОГРН
						input(name="ogrn")
					.input_form_item
						span.title ОКТМО
						input(name="oktmo")
					.input_form_item
						span.title ОКВЭД
						input(name="okved")
					.input_form_item
						span.title Банк
						input(name="bank")
					.input_form_item
						span.title Рассчетный счет (Р/С)
						input(name="settlement_account")
					.input_form_item
						span.title Корреспондентский счет (К/С)
						input(name="correspondent_account")
					.input_form_item
						span.title БИК
						input(name="bik")
					.content_button.center: button.button.blue_button(style="width: 264px;") Продолжить
		include ../includes/footer

build/brief-9-4.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Brand Hub - Бренд мечты, а не мечты о бренде!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/brief.css?v=1">
    <link rel="stylesheet" href="css/nice-select.css?v=1">
    <link rel="stylesheet" href="css/ion.rangeSlider.css?v=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>
  </head>
</html>
<body>
  <section class="full_height_position center_block">
    <div class="dev_cont">
      <ul>
        <li><a href="brief-1-1.html">1-1.html</a></li>
        <li><a href="brief-1-2.html">1-2.html</a></li>
        <li><a href="brief-1-3.html">1-3.html</a></li>
        <li><a href="brief-1-4.html">1-4.html</a></li>
        <li><a href="brief-1-5.html">1-5.html</a></li>
        <li><a href="brief-1-6.html">1-6.html</a></li>
        <li><a href="brief-1-7.html">1-7.html</a></li>
        <li><a href="brief-2-1.html">2-1.html</a></li>
        <li><a href="brief-2-2.html">2-2.html</a></li>
        <li><a href="brief-3-1.html">3-1.html</a></li>
        <li><a href="brief-3-2.html">3-2.html</a></li>
        <li><a href="brief-4-1.html">4-1.html</a></li>
        <li><a href="brief-4-2.html">4-2.html</a></li>
        <li><a href="brief-5-1.html">5-1.html</a></li>
        <li><a href="brief-5-2.html">5-2.html</a></li>
        <li><a href="brief-6.html">6.html</a></li>
        <li><a href="brief-7-1.html">7-1.html</a></li>
        <li><a href="brief-7-2.html">7-2.html</a></li>
        <li><a href="brief-8-1.html">8-1.html</a></li>
        <li><a href="brief-8-2.html">8-2.html</a></li>
        <li><a href="brief-9-1.html">9-1.html</a></li>
        <li><a href="brief-9-2.html">9-2.html</a></li>
        <li><a href="brief-9-3.html">9-3.html</a></li>
        <li><a href="brief-9-4.html">9-4.html</a></li>
      </ul>
    </div>
    <header>
      <div class="logo"><a href="index.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
      <nav>
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Проекты</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </nav>
      <div class="header_right">
        <div class="notification"><img src="pic/notification-icon.svg" alt="Уведомления"><span class="active"></span></div>
        <div class="user"><img src="pic/user.jpg" alt="user name"></div>
      </div>
    </header>
    <div class="content_block">
      <div class="content_pagination"><a class="back_button" href="#"><img src="pic/pagination-back.svg"><span>Назад</span></a></div>
      <div class="background background_margin content_form">
        <h1>Укажите тип договора</h1>
        <div class="content_button button_margin position_justify">
          <button class="button blue_button" style="width: 300px">Договор с физ. лицом</button>
          <button class="button white_button" style="width: 300px">Договор с юр. лицом</button>
        </div>
      </div>
      <div class="background background_margin content_form">
        <form style="width: 760px">
          <h2>Заполните реквизиты</h2>
          <div class="input_form_item with_button"><span class="title">Инн*</span>
            <input name="inn">
            <button class="button blue_button">Проверить</button>
          </div>
          <div class="input_form_item"><span class="title">Название компании</span>
            <input name="company_name">
          </div>
          <div class="input_form_item"><span class="title">Юридический адрес</span>
            <input name="legal_address">
          </div>
          <div class="input_form_item"><span class="title">Почтовый адрес</span>
            <input name="mailing_address">
          </div>
          <div class="input_form_item"><span class="title">ИНН</span>
            <input name="inn_text">
          </div>
          <div class="input_form_item"><span class="title">КПП</span>
            <input name="kpp">
          </div>
          <div class="input_form_item"><span class="title">ОГРН</span>
            <input name="ogrn">
          </div>
          <div class="input_form_item"><span class="title">ОКТМО</span>
            <input name="oktmo">
          </div>
          <div class="input_form_item"><span class="title">ОКВЭД</span>
            <input name="okved">
          </div>
          <div class="input_form_item"><span class="title">Банк</span>
            <input name="bank">
          </div>
          <div class="input_form_item"><span class="title">Рассчетный счет (Р/С)</span>
            <input name="settlement_account">
          </div>
          <div class="input_form_item"><span class="title">Корреспондентский счет (К/С)</span>
            <input name="correspondent_account">
          </div>
          <div class="input_form_item"><span class="title">БИК</span>
            <input name="bik">
          </div>
          <div class="content_button center">
            <button class="button blue_button" style="width: 264px;">Продолжить</button>
          </div>
        </form>
      </div>
    </div>
    <footer>
      <div class="footer_item">
        <div class="logo"><a href="index2.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
        <div class="footer_nav">
          <ul>
            <li><a href="#">Сотрудничество</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Документы</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_item">
        <ul class="footer_social">
          <li><a href="#"><img src="pic/footer-social-1.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-2.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-3.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-4.svg"></a></li>
        </ul>
      </div>
      <div class="footer_copyright">© 2020</div>
    </footer>
    <script src="js/brief-dist.js"></script>
  </section>
</body>
