brief/pages/brief-7-1.pug
include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			form
				.background.background_margin.content_form
					.information_drop.header_drop
						h1 Оцените ваш продукт по Value Grid
						button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
						.information_overlay_head
							.title Что это такое?
							p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
					.value_grid
						.value_grid_title_block
							p Дороже
							p Та же стоимость
							p Дешевле
						.value_grid_item
							.value_grid_title Меньше ценности
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle Меньше за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p Это бренды, которые стараются в короткое время урвать хайп, или выдумывают несуществующие преимущества, потом как правило исчезают или становятся неконкурентоспособными. Не забывайте - ничего плохого в такой стратегии нет, так как это тоже стратегия.
										p Это бренды, которые стараются в короткое время урвать хайп, или выдумывают несуществующие преимущества, потом как правило исчезают или становятся неконкурентоспособными. Не забывайте - ничего плохого в такой стратегии нет, так как это тоже стратегия.
								p.title Пустые обещания
								button.button.white_button: span Выбрать
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle Меньшее за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Несерьезно
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Меньше за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Бюджетное предложение
								button.button.white_button: span Выбрать
						.value_grid_item
							.value_grid_title Та же ценность
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Бренд вспышка
								button.button.white_button: span Выбрать
							.value_grid_block.yellow.active
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Паритетный игрок
								button.button.blue_button: span Выбрано
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Ценностный раздажитель
								button.button.white_button: span Выбрать
						.value_grid_item
							.value_grid_title Та же ценность
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Большее за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Премиум
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Больше за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Ценностный лидер
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Больше за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Взлом ценностей
								button.button.white_button: span Выбрать
				.background.background_margin.content_form
					.content_small_width
						h2 Оцените ваш продукт/услугу относительно конкурентов и категории
						.form_input(style="width: 100%; margin-top: 50px; margin-bottom: 10px")
							span.subtitle Ваш продукт относительно конкурентов и категории
							select(name="competitors_categories")
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
						.form_input(style="width: 100%; margin-top: 50px; margin-bottom: 10px")
							span.subtitle Чем лучше
							select(name="the_better")
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
						.form_input(style="margin-top: 48px")
							textarea(name="than_describe" placeholder="Чем? Опишите.")
					.content_button.center.justify.button_margin.success_brief
						button.button.white_button(style="width: 200px") Пропустить
						button.button.blue_button(style="width: 200px") Далее
		include ../includes/footer

build/brief-7-1.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Brand Hub - Бренд мечты, а не мечты о бренде!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/brief.css?v=1">
    <link rel="stylesheet" href="css/nice-select.css?v=1">
    <link rel="stylesheet" href="css/ion.rangeSlider.css?v=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>
  </head>
</html>
<body>
  <section class="full_height_position center_block">
    <div class="dev_cont">
      <ul>
        <li><a href="brief-1-1.html">1-1.html</a></li>
        <li><a href="brief-1-2.html">1-2.html</a></li>
        <li><a href="brief-1-3.html">1-3.html</a></li>
        <li><a href="brief-1-4.html">1-4.html</a></li>
        <li><a href="brief-1-5.html">1-5.html</a></li>
        <li><a href="brief-1-6.html">1-6.html</a></li>
        <li><a href="brief-1-7.html">1-7.html</a></li>
        <li><a href="brief-2-1.html">2-1.html</a></li>
        <li><a href="brief-2-2.html">2-2.html</a></li>
        <li><a href="brief-3-1.html">3-1.html</a></li>
        <li><a href="brief-3-2.html">3-2.html</a></li>
        <li><a href="brief-4-1.html">4-1.html</a></li>
        <li><a href="brief-4-2.html">4-2.html</a></li>
        <li><a href="brief-5-1.html">5-1.html</a></li>
        <li><a href="brief-5-2.html">5-2.html</a></li>
        <li><a href="brief-6.html">6.html</a></li>
        <li><a href="brief-7-1.html">7-1.html</a></li>
        <li><a href="brief-7-2.html">7-2.html</a></li>
        <li><a href="brief-8-1.html">8-1.html</a></li>
        <li><a href="brief-8-2.html">8-2.html</a></li>
        <li><a href="brief-9-1.html">9-1.html</a></li>
        <li><a href="brief-9-2.html">9-2.html</a></li>
        <li><a href="brief-9-3.html">9-3.html</a></li>
        <li><a href="brief-9-4.html">9-4.html</a></li>
      </ul>
    </div>
    <header>
      <div class="logo"><a href="index.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
      <nav>
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Проекты</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </nav>
      <div class="header_right">
        <div class="notification"><img src="pic/notification-icon.svg" alt="Уведомления"><span class="active"></span></div>
        <div class="user"><img src="pic/user.jpg" alt="user name"></div>
      </div>
    </header>
    <div class="content_block">
      <div class="content_pagination"><a class="back_button" href="#"><img src="pic/pagination-back.svg"><span>Назад</span></a>
        <ul class="pagination_content">
          <li><a href="#">Шаг 1</a></li>
          <li class="active"><a href="#">Шаг 2</a></li>
          <li><a href="#">Шаг 3</a></li>
          <li><a href="#">Шаг 4</a></li>
        </ul>
      </div>
      <form>
        <div class="background background_margin content_form">
          <div class="information_drop header_drop">
            <h1>Оцените ваш продукт по Value Grid</h1>
            <button class="information_drop_button_head"><img src="pic/help-icon-shadow.svg"></button>
            <div class="information_overlay_head">
              <div class="title">Что это такое?</div>
              <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
            </div>
          </div>
          <div class="value_grid">
            <div class="value_grid_title_block">
              <p>Дороже</p>
              <p>Та же стоимость</p>
              <p>Дешевле</p>
            </div>
            <div class="value_grid_item">
              <div class="value_grid_title">Меньше ценности</div>
              <div class="value_grid_block red"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Меньше за большее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>Это бренды, которые стараются в короткое время урвать хайп, или выдумывают несуществующие преимущества, потом как правило исчезают или становятся неконкурентоспособными. Не забывайте - ничего плохого в такой стратегии нет, так как это тоже стратегия.</p>
                    <p>Это бренды, которые стараются в короткое время урвать хайп, или выдумывают несуществующие преимущества, потом как правило исчезают или становятся неконкурентоспособными. Не забывайте - ничего плохого в такой стратегии нет, так как это тоже стратегия.</p>
                  </div>
                </div>
                <p class="title">Пустые обещания</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
              <div class="value_grid_block red"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Меньшее за ту же цену</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Несерьезно</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
              <div class="value_grid_block green"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Меньше за меньшее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Бюджетное предложение</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
            </div>
            <div class="value_grid_item">
              <div class="value_grid_title">Та же ценность</div>
              <div class="value_grid_block red"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">То же самое за большее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Бренд вспышка</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
              <div class="value_grid_block yellow active"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">То же самое за ту же цену</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Паритетный игрок</p>
                <button class="button blue_button"><span>Выбрано</span></button>
              </div>
              <div class="value_grid_block green"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">То же самое за меньшее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Ценностный раздажитель</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
            </div>
            <div class="value_grid_item">
              <div class="value_grid_title">Та же ценность</div>
              <div class="value_grid_block green"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Большее за большее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Премиум</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
              <div class="value_grid_block green"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Больше за ту же цену</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Ценностный лидер</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
              <div class="value_grid_block green"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Больше за меньшее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Взлом ценностей</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="background background_margin content_form">
          <div class="content_small_width">
            <h2>Оцените ваш продукт/услугу относительно конкурентов и категории</h2>
            <div class="form_input" style="width: 100%; margin-top: 50px; margin-bottom: 10px"><span class="subtitle">Ваш продукт относительно конкурентов и категории</span>
              <select name="competitors_categories">
                <option value="Москва">Москва</option>
                <option value="Тула">Тула</option>
                <option value="Санкт Петербург">Санкт Петербург</option>
                <option value="Москва">Москва</option>
                <option value="Тула">Тула</option>
                <option value="Санкт Петербург">Санкт Петербург</option>
              </select>
            </div>
            <div class="form_input" style="width: 100%; margin-top: 50px; margin-bottom: 10px"><span class="subtitle">Чем лучше</span>
              <select name="the_better">
                <option value="Москва">Москва</option>
                <option value="Тула">Тула</option>
                <option value="Санкт Петербург">Санкт Петербург</option>
                <option value="Москва">Москва</option>
                <option value="Тула">Тула</option>
                <option value="Санкт Петербург">Санкт Петербург</option>
              </select>
            </div>
            <div class="form_input" style="margin-top: 48px">
              <textarea name="than_describe" placeholder="Чем? Опишите."></textarea>
            </div>
          </div>
          <div class="content_button center justify button_margin success_brief">
            <button class="button white_button" style="width: 200px">Пропустить</button>
            <button class="button blue_button" style="width: 200px">Далее</button>
          </div>
        </div>
      </form>
    </div>
    <footer>
      <div class="footer_item">
        <div class="logo"><a href="index2.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
        <div class="footer_nav">
          <ul>
            <li><a href="#">Сотрудничество</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Документы</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_item">
        <ul class="footer_social">
          <li><a href="#"><img src="pic/footer-social-1.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-2.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-3.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-4.svg"></a></li>
        </ul>
      </div>
      <div class="footer_copyright">© 2020</div>
    </footer>
    <script src="js/brief-dist.js"></script>
  </section>
</body>
