build/brief-2-1.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Brand Hub - Бренд мечты, а не мечты о бренде!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/brief.css?v=1">
    <link rel="stylesheet" href="css/nice-select.css?v=1">
    <link rel="stylesheet" href="css/ion.rangeSlider.css?v=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>
  </head>
</html>
<body>
  <section class="full_height_position center_block">
    <div class="dev_cont">
      <ul>
        <li><a href="brief-1-1.html">1-1.html</a></li>
        <li><a href="brief-1-2.html">1-2.html</a></li>
        <li><a href="brief-1-3.html">1-3.html</a></li>
        <li><a href="brief-1-4.html">1-4.html</a></li>
        <li><a href="brief-1-5.html">1-5.html</a></li>
        <li><a href="brief-1-6.html">1-6.html</a></li>
        <li><a href="brief-1-7.html">1-7.html</a></li>
        <li><a href="brief-2-1.html">2-1.html</a></li>
        <li><a href="brief-2-2.html">2-2.html</a></li>
        <li><a href="brief-3-1.html">3-1.html</a></li>
        <li><a href="brief-3-2.html">3-2.html</a></li>
        <li><a href="brief-4-1.html">4-1.html</a></li>
        <li><a href="brief-4-2.html">4-2.html</a></li>
        <li><a href="brief-5-1.html">5-1.html</a></li>
        <li><a href="brief-5-2.html">5-2.html</a></li>
        <li><a href="brief-6.html">6.html</a></li>
        <li><a href="brief-7-1.html">7-1.html</a></li>
        <li><a href="brief-7-2.html">7-2.html</a></li>
        <li><a href="brief-8-1.html">8-1.html</a></li>
        <li><a href="brief-8-2.html">8-2.html</a></li>
        <li><a href="brief-9-1.html">9-1.html</a></li>
        <li><a href="brief-9-2.html">9-2.html</a></li>
        <li><a href="brief-9-3.html">9-3.html</a></li>
        <li><a href="brief-9-4.html">9-4.html</a></li>
      </ul>
    </div>
    <header>
      <div class="logo"><a href="index.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
      <nav>
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Проекты</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </nav>
      <div class="header_right">
        <div class="notification"><img src="pic/notification-icon.svg" alt="Уведомления"><span class="active"></span></div>
        <div class="user"><img src="pic/user.jpg" alt="user name"></div>
      </div>
    </header>
    <div class="content_block">
      <div class="content_pagination"><a class="back_button" href="#"><img src="pic/pagination-back.svg"><span>Назад</span></a>
        <ul class="pagination_content">
          <li><a href="#">Шаг 1</a></li>
          <li class="active"><a href="#">Шаг 2</a></li>
          <li><a href="#">Шаг 3</a></li>
          <li><a href="#">Шаг 4</a></li>
        </ul>
      </div>
      <div class="background background_margin content_form">
        <form>
          <h1>Выберите категорию бизенса:</h1>
          <div class="custom_checkbox">
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat1.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat1.png"></div>
              </label>
              <p>Еда и напитки</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat2.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat2.png"></div>
              </label>
              <p>HoReCa</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat3.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat3.png"></div>
              </label>
              <p>Сервисы и технологии</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat4.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat4.png"></div>
              </label>
              <p>Производство и промышленность</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat5.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat5.png"></div>
              </label>
              <p>Профессиональные услуги</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat6.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat6.png"></div>
              </label>
              <p>Бытовая химия</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat7.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat7.png"></div>
              </label>
              <p>Бьюти</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat8.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat8.png"></div>
              </label>
              <p>Хозяйственные товары</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat9.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat9.png"></div>
              </label>
              <p>Мода и одежда</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat10.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat10.png"></div>
              </label>
              <p>Искусство и культура</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat11.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat11.png"></div>
              </label>
              <p>Некоммерческие проекты</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat12.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat12.png"></div>
              </label>
              <p>Девеломпент</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat13.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat13.png"></div>
              </label>
              <p>Логистика и транспорт</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat14.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat14.png"></div>
              </label>
              <p>Личный бренд</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat15.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat15.png"></div>
              </label>
              <p>Развлечения</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
            <div class="custom_checkbox_item">
              <label class="grid_category_item">
                <input type="checkbox" name="business_category">
                <div class="cat_image"><img src="pic/category/cat16.png"></div>
                <div class="cat_image_active"><img src="pic/category_active/cat16.png"></div>
              </label>
              <p>Наука и образование</p>
              <button class="button button_white"><span>Выбрать</span></button>
            </div>
          </div>
          <div class="what_product">
            <h2>...что то другое?</h2>
            <div class="form_input" style="width: 758px">
              <textarea name="what_product" placeholder="Sample Title"></textarea>
            </div>
          </div>
          <div class="content_button center">
            <button class="button blue_button" style="width: 200px;">Далее</button>
          </div>
        </form>
      </div>
    </div>
    <footer>
      <div class="footer_item">
        <div class="logo"><a href="index2.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
        <div class="footer_nav">
          <ul>
            <li><a href="#">Сотрудничество</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Документы</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_item">
        <ul class="footer_social">
          <li><a href="#"><img src="pic/footer-social-1.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-2.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-3.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-4.svg"></a></li>
        </ul>
      </div>
      <div class="footer_copyright">© 2020</div>
    </footer>
    <script src="js/brief-dist.js"></script>
  </section>
</body>

brief/pages/brief-2-1.pug
include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			.background.background_margin.content_form
				form
					h1 Выберите категорию бизенса:
					.custom_checkbox
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat1.png")
								.cat_image_active: img(src="pic/category_active/cat1.png")
							p Еда и напитки
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat2.png")
								.cat_image_active: img(src="pic/category_active/cat2.png")
							p HoReCa
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat3.png")
								.cat_image_active: img(src="pic/category_active/cat3.png")
							p Сервисы и технологии
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat4.png")
								.cat_image_active: img(src="pic/category_active/cat4.png")
							p Производство и промышленность
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat5.png")
								.cat_image_active: img(src="pic/category_active/cat5.png")
							p Профессиональные услуги
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat6.png")
								.cat_image_active: img(src="pic/category_active/cat6.png")
							p Бытовая химия
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat7.png")
								.cat_image_active: img(src="pic/category_active/cat7.png")
							p Бьюти
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat8.png")
								.cat_image_active: img(src="pic/category_active/cat8.png")
							p Хозяйственные товары
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat9.png")
								.cat_image_active: img(src="pic/category_active/cat9.png")
							p Мода и одежда
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat10.png")
								.cat_image_active: img(src="pic/category_active/cat10.png")
							p Искусство и культура
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat11.png")
								.cat_image_active: img(src="pic/category_active/cat11.png")
							p Некоммерческие проекты
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat12.png")
								.cat_image_active: img(src="pic/category_active/cat12.png")
							p Девеломпент
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat13.png")
								.cat_image_active: img(src="pic/category_active/cat13.png")
							p Логистика и транспорт
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat14.png")
								.cat_image_active: img(src="pic/category_active/cat14.png")
							p Личный бренд
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat15.png")
								.cat_image_active: img(src="pic/category_active/cat15.png")
							p Развлечения
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat16.png")
								.cat_image_active: img(src="pic/category_active/cat16.png")
							p Наука и образование
							button.button.button_white: span Выбрать
					.what_product
						h2 ...что то другое?
						.form_input(style="width: 758px")
							textarea(name="what_product" placeholder="Sample Title")
					.content_button.center: button.button.blue_button(style="width: 200px;") Далее
		include ../includes/footer
