build/brief-7-2.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Brand Hub - Бренд мечты, а не мечты о бренде!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/brief.css?v=1">
    <link rel="stylesheet" href="css/nice-select.css?v=1">
    <link rel="stylesheet" href="css/ion.rangeSlider.css?v=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>
  </head>
</html>
<body>
  <section class="full_height_position center_block">
    <div class="dev_cont">
      <ul>
        <li><a href="brief-1-1.html">1-1.html</a></li>
        <li><a href="brief-1-2.html">1-2.html</a></li>
        <li><a href="brief-1-3.html">1-3.html</a></li>
        <li><a href="brief-1-4.html">1-4.html</a></li>
        <li><a href="brief-1-5.html">1-5.html</a></li>
        <li><a href="brief-1-6.html">1-6.html</a></li>
        <li><a href="brief-1-7.html">1-7.html</a></li>
        <li><a href="brief-2-1.html">2-1.html</a></li>
        <li><a href="brief-2-2.html">2-2.html</a></li>
        <li><a href="brief-3-1.html">3-1.html</a></li>
        <li><a href="brief-3-2.html">3-2.html</a></li>
        <li><a href="brief-4-1.html">4-1.html</a></li>
        <li><a href="brief-4-2.html">4-2.html</a></li>
        <li><a href="brief-5-1.html">5-1.html</a></li>
        <li><a href="brief-5-2.html">5-2.html</a></li>
        <li><a href="brief-6.html">6.html</a></li>
        <li><a href="brief-7-1.html">7-1.html</a></li>
        <li><a href="brief-7-2.html">7-2.html</a></li>
        <li><a href="brief-8-1.html">8-1.html</a></li>
        <li><a href="brief-8-2.html">8-2.html</a></li>
        <li><a href="brief-9-1.html">9-1.html</a></li>
        <li><a href="brief-9-2.html">9-2.html</a></li>
        <li><a href="brief-9-3.html">9-3.html</a></li>
        <li><a href="brief-9-4.html">9-4.html</a></li>
      </ul>
    </div>
    <header>
      <div class="logo"><a href="index.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
      <nav>
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Проекты</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </nav>
      <div class="header_right">
        <div class="notification"><img src="pic/notification-icon.svg" alt="Уведомления"><span class="active"></span></div>
        <div class="user"><img src="pic/user.jpg" alt="user name"></div>
      </div>
    </header>
    <div class="content_block">
      <div class="content_pagination"><a class="back_button" href="#"><img src="pic/pagination-back.svg"><span>Назад</span></a>
        <ul class="pagination_content">
          <li><a href="#">Шаг 1</a></li>
          <li class="active"><a href="#">Шаг 2</a></li>
          <li><a href="#">Шаг 3</a></li>
          <li><a href="#">Шаг 4</a></li>
        </ul>
      </div>
      <form>
        <div class="background background_margin content_form">
          <div class="information_drop header_drop">
            <h1>Оцените ваш продукт по Value Grid</h1>
            <button class="information_drop_button_head"><img src="pic/help-icon-shadow.svg"></button>
            <div class="information_overlay_head">
              <div class="title">Что это такое?</div>
              <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
            </div>
          </div>
          <div class="value_grid">
            <div class="value_grid_title_block">
              <p>Дороже</p>
              <p>Та же стоимость</p>
              <p>Дешевле</p>
            </div>
            <div class="value_grid_item">
              <div class="value_grid_title">Меньше ценности</div>
              <div class="value_grid_block red"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Меньше за большее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Пустые обещания</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
              <div class="value_grid_block red"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Меньшее за ту же цену</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Несерьезно</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
              <div class="value_grid_block green"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Меньше за меньшее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Бюджетное предложение</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
            </div>
            <div class="value_grid_item">
              <div class="value_grid_title">Та же ценность</div>
              <div class="value_grid_block red"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">То же самое за большее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Бренд вспышка</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
              <div class="value_grid_block yellow active"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">То же самое за ту же цену</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Паритетный игрок</p>
                <button class="button blue_button"><span>Выбрано</span></button>
              </div>
              <div class="value_grid_block green"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">То же самое за меньшее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Ценностный раздажитель</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
            </div>
            <div class="value_grid_item">
              <div class="value_grid_title">Та же ценность</div>
              <div class="value_grid_block green"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Большее за большее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Премиум</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
              <div class="value_grid_block green"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Больше за ту же цену</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Ценностный лидер</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
              <div class="value_grid_block green"><span class="grid_block_line"></span>
                <div class="information_drop">
                  <p class="subtitle">Больше за меньшее</p>
                  <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
                  <div class="information_overlay">
                    <div class="title">Что это такое?</div>
                    <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
                  </div>
                </div>
                <p class="title">Взлом ценностей</p>
                <button class="button white_button"><span>Выбрать</span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="background background_margin content_form">
          <div class="content_small_width">
            <h2>Оцените ваш продукт/услугу относительно конкурентов и категории</h2>
            <div class="form_input" style="width: 100%; margin-top: 50px; margin-bottom: 10px"><span class="subtitle">Ваш продукт относительно конкурентов и категории</span>
              <select name="competitors_categories">
                <option value="Москва">Москва</option>
                <option value="Тула">Тула</option>
                <option value="Санкт Петербург">Санкт Петербург</option>
                <option value="Москва">Москва</option>
                <option value="Тула">Тула</option>
                <option value="Санкт Петербург">Санкт Петербург</option>
              </select>
            </div>
            <div class="form_input" style="width: 100%; margin-top: 50px; margin-bottom: 10px"><span class="subtitle">Чем лучше</span>
              <select name="the_better">
                <option value="Москва">Москва</option>
                <option value="Тула">Тула</option>
                <option value="Санкт Петербург">Санкт Петербург</option>
                <option value="Москва">Москва</option>
                <option value="Тула">Тула</option>
                <option value="Санкт Петербург">Санкт Петербург</option>
              </select>
            </div>
            <div class="form_input" style="margin-top: 48px">
              <textarea name="than_describe" placeholder="Чем? Опишите."></textarea>
            </div>
          </div>
        </div>
        <div class="background background_margin content_form">
          <h2>Оцените себя по продуктовым параметрам</h2>
          <div class="rating_box">
            <div class="rating_item">
              <p class="title">Органолептика</p>
              <div class="buttons_list">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>7</button>
                <button>8</button>
                <button class="active">9</button>
                <button>10</button>
              </div>
            </div>
            <div class="rating_item">
              <p class="title">Пищевая ценность</p>
              <div class="buttons_list">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button class="active">7</button>
                <button>8</button>
                <button>9</button>
                <button>10</button>
              </div>
            </div>
            <div class="rating_item">
              <p class="title">Performance</p>
              <div class="buttons_list">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button class="active">6</button>
                <button>7</button>
                <button>8</button>
                <button>9</button>
                <button>10</button>
              </div>
            </div>
            <div class="rating_item">
              <p class="title">Безопасность</p>
              <div class="buttons_list">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button class="active">7</button>
                <button>8</button>
                <button>9</button>
                <button>10</button>
              </div>
            </div>
            <div class="rating_item">
              <p class="title">Стабильность качества</p>
              <div class="buttons_list">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button class="active">7</button>
                <button>8</button>
                <button>9</button>
                <button>10</button>
              </div>
            </div>
          </div>
        </div>
        <div class="background background_margin content_form">
          <h2>Характер бренда</h2>
          <div class="gray_slider_position">
            <div class="gray_slider"><span class="title first">Современный</span>
              <div class="input">
                <input class="js-range-slider" type="text" data-min="0" data-max="100" name="brand_character1" value="">
              </div><span class="title last">Традиционный</span>
            </div>
            <div class="gray_slider"><span class="title first">Доступный</span>
              <div class="input">
                <input class="js-range-slider" type="text" data-min="0" data-max="100" name="brand_character2" value="">
              </div><span class="title last">Дорогой</span>
            </div>
            <div class="gray_slider"><span class="title first">Локальный</span>
              <div class="input">
                <input class="js-range-slider" type="text" data-min="0" data-max="100" name="brand_character3" value="">
              </div><span class="title last">Глобальный</span>
            </div>
            <div class="gray_slider"><span class="title first">Яркий</span>
              <div class="input">
                <input class="js-range-slider" type="text" data-min="0" data-max="100" name="brand_character4" value="">
              </div><span class="title last">Спокойный</span>
            </div>
            <div class="gray_slider"><span class="title first">Эмоциональный</span>
              <div class="input">
                <input class="js-range-slider" type="text" data-min="0" data-max="100" name="brand_character5" value="">
              </div><span class="title last">Рациональный</span>
            </div>
            <div class="gray_slider"><span class="title first">Эксклюзивный</span>
              <div class="input">
                <input class="js-range-slider" type="text" data-min="0" data-max="100" name="brand_character6" value="">
              </div><span class="title last">Массовый</span>
            </div>
            <div class="gray_slider"><span class="title first">Промышленный</span>
              <div class="input">
                <input class="js-range-slider" type="text" data-min="0" data-max="100" name="brand_character7" value="">
              </div><span class="title last">Крафтовый</span>
            </div>
            <div class="gray_slider"><span class="title first">Городской</span>
              <div class="input">
                <input class="js-range-slider" type="text" data-min="0" data-max="100" name="brand_character8" value="">
              </div><span class="title last">Сельский</span>
            </div>
          </div>
        </div>
        <div class="background background_margin content_form">
          <h2>Ассоциативный ряд</h2>
          <div class="custom_checkbox_title first_item">Животное</div>
          <div class="custom_checkbox motiv_grid">
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="animal"><span class="fire_icon"></span><img src="pic/as1.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="animal"><span></span><img src="pic/as2.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="animal"><span></span><img src="pic/as3.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="animal"><span></span><img src="pic/as4.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="animal"><span></span><img src="pic/as5.jpg">
              </label>
            </div>
          </div>
          <div class="custom_checkbox_title">Авто</div>
          <div class="custom_checkbox motiv_grid">
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="auto"><span></span><img src="pic/as6.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="auto"><span></span><img src="pic/as7.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="auto"><span></span><img src="pic/as8.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="auto"><span></span><img src="pic/as9.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="auto"><span></span><img src="pic/as10.jpg">
              </label>
            </div>
          </div>
          <div class="custom_checkbox_title">Архитектура</div>
          <div class="custom_checkbox motiv_grid">
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="architecture"><span></span><img src="pic/as11.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="architecture"><span></span><img src="pic/as12.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="architecture"><span></span><img src="pic/as13.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="architecture"><span></span><img src="pic/as14.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="architecture"><span></span><img src="pic/as15.jpg">
              </label>
            </div>
          </div>
          <div class="custom_checkbox_title">Fashion</div>
          <div class="custom_checkbox motiv_grid">
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="fashion"><span></span><img src="pic/as16.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="fashion"><span></span><img src="pic/as17.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="fashion"><span></span><img src="pic/as18.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="fashion"><span></span><img src="pic/as19.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="fashion"><span></span><img src="pic/as20.jpg">
              </label>
            </div>
          </div>
          <div class="custom_checkbox_title">Растение</div>
          <div class="custom_checkbox motiv_grid">
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="plant"><span></span><img src="pic/as21.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="plant"><span></span><img src="pic/as22.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="plant"><span></span><img src="pic/as23.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="plant"><span></span><img src="pic/as24.jpg">
              </label>
            </div>
            <div class="custom_checkbox_item_motiv">
              <label class="grid_category_item">
                <input type="radio" name="plant"><span></span><img src="pic/as25.jpg">
              </label>
            </div>
          </div>
          <div class="content_button center justify button_margin success_brief">
            <button class="button white_button" style="width: 200px">Пропустить</button>
            <button class="button blue_button" style="width: 200px">Далее</button>
          </div>
        </div>
      </form>
    </div>
    <footer>
      <div class="footer_item">
        <div class="logo"><a href="index2.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
        <div class="footer_nav">
          <ul>
            <li><a href="#">Сотрудничество</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Документы</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_item">
        <ul class="footer_social">
          <li><a href="#"><img src="pic/footer-social-1.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-2.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-3.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-4.svg"></a></li>
        </ul>
      </div>
      <div class="footer_copyright">© 2020</div>
    </footer>
    <script src="js/brief-dist.js"></script>
  </section>
</body>

brief/pages/brief-7-2.pug
include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			form
				.background.background_margin.content_form
					.information_drop.header_drop
						h1 Оцените ваш продукт по Value Grid
						button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
						.information_overlay_head
							.title Что это такое?
							p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
					.value_grid
						.value_grid_title_block
							p Дороже
							p Та же стоимость
							p Дешевле
						.value_grid_item
							.value_grid_title Меньше ценности
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle Меньше за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Пустые обещания
								button.button.white_button: span Выбрать
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle Меньшее за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Несерьезно
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Меньше за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Бюджетное предложение
								button.button.white_button: span Выбрать
						.value_grid_item
							.value_grid_title Та же ценность
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Бренд вспышка
								button.button.white_button: span Выбрать
							.value_grid_block.yellow.active
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Паритетный игрок
								button.button.blue_button: span Выбрано
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Ценностный раздажитель
								button.button.white_button: span Выбрать
						.value_grid_item
							.value_grid_title Та же ценность
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Большее за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Премиум
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Больше за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Ценностный лидер
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Больше за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Взлом ценностей
								button.button.white_button: span Выбрать
				.background.background_margin.content_form
					.content_small_width
						h2 Оцените ваш продукт/услугу относительно конкурентов и категории
						.form_input(style="width: 100%; margin-top: 50px; margin-bottom: 10px")
							span.subtitle Ваш продукт относительно конкурентов и категории
							select(name="competitors_categories")
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
						.form_input(style="width: 100%; margin-top: 50px; margin-bottom: 10px")
							span.subtitle Чем лучше
							select(name="the_better")
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
						.form_input(style="margin-top: 48px")
							textarea(name="than_describe" placeholder="Чем? Опишите.")
				.background.background_margin.content_form
					h2 Оцените себя по продуктовым параметрам
					.rating_box
						.rating_item
							p.title Органолептика
							.buttons_list
								button 1
								button 2
								button 3
								button 4
								button 5
								button 6
								button 7
								button 8
								button.active 9
								button 10
						.rating_item
							p.title Пищевая ценность
							.buttons_list
								button 1
								button 2
								button 3
								button 4
								button 5
								button 6
								button.active 7
								button 8
								button 9
								button 10
						.rating_item
							p.title Performance
							.buttons_list
								button 1
								button 2
								button 3
								button 4
								button 5
								button.active 6
								button 7
								button 8
								button 9
								button 10
						.rating_item
							p.title Безопасность
							.buttons_list
								button 1
								button 2
								button 3
								button 4
								button 5
								button 6
								button.active 7
								button 8
								button 9
								button 10
						.rating_item
							p.title Стабильность качества
							.buttons_list
								button 1
								button 2
								button 3
								button 4
								button 5
								button 6
								button.active 7
								button 8
								button 9
								button 10
				.background.background_margin.content_form
					h2 Характер бренда
					.gray_slider_position
						.gray_slider
							span.title.first Современный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character1" value="")
							span.title.last Традиционный
						.gray_slider
							span.title.first Доступный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character2" value="")
							span.title.last Дорогой
						.gray_slider
							span.title.first Локальный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character3" value="")
							span.title.last Глобальный
						.gray_slider
							span.title.first Яркий
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character4" value="")
							span.title.last Спокойный
						.gray_slider
							span.title.first Эмоциональный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character5" value="")
							span.title.last Рациональный
						.gray_slider
							span.title.first Эксклюзивный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character6" value="")
							span.title.last Массовый
						.gray_slider
							span.title.first Промышленный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character7" value="")
							span.title.last Крафтовый
						.gray_slider
							span.title.first Городской
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character8" value="")
							span.title.last Сельский
				.background.background_margin.content_form
					h2 Ассоциативный ряд
					.custom_checkbox_title.first_item Животное
					.custom_checkbox.motiv_grid
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="animal")
								span.fire_icon
								img(src="pic/as1.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="animal")
								span
								img(src="pic/as2.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="animal")
								span
								img(src="pic/as3.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="animal")
								span
								img(src="pic/as4.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="animal")
								span
								img(src="pic/as5.jpg")
					.custom_checkbox_title Авто
					.custom_checkbox.motiv_grid
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="auto")
								span
								img(src="pic/as6.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="auto")
								span
								img(src="pic/as7.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="auto")
								span
								img(src="pic/as8.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="auto")
								span
								img(src="pic/as9.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="auto")
								span
								img(src="pic/as10.jpg")
					.custom_checkbox_title Архитектура
					.custom_checkbox.motiv_grid
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="architecture")
								span
								img(src="pic/as11.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="architecture")
								span
								img(src="pic/as12.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="architecture")
								span
								img(src="pic/as13.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="architecture")
								span
								img(src="pic/as14.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="architecture")
								span
								img(src="pic/as15.jpg")
					.custom_checkbox_title Fashion
					.custom_checkbox.motiv_grid
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="fashion")
								span
								img(src="pic/as16.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="fashion")
								span
								img(src="pic/as17.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="fashion")
								span
								img(src="pic/as18.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="fashion")
								span
								img(src="pic/as19.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="fashion")
								span
								img(src="pic/as20.jpg")
					.custom_checkbox_title Растение
					.custom_checkbox.motiv_grid
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="plant")
								span
								img(src="pic/as21.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="plant")
								span
								img(src="pic/as22.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="plant")
								span
								img(src="pic/as23.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="plant")
								span
								img(src="pic/as24.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="plant")
								span
								img(src="pic/as25.jpg")
					.content_button.center.justify.button_margin.success_brief
						button.button.white_button(style="width: 200px") Пропустить
						button.button.blue_button(style="width: 200px") Далее
		include ../includes/footer
