build/brief-3-2.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Brand Hub - Бренд мечты, а не мечты о бренде!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/brief.css?v=1">
    <link rel="stylesheet" href="css/nice-select.css?v=1">
    <link rel="stylesheet" href="css/ion.rangeSlider.css?v=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>
  </head>
</html>
<body>
  <section class="full_height_position center_block">
    <div class="dev_cont">
      <ul>
        <li><a href="brief-1-1.html">1-1.html</a></li>
        <li><a href="brief-1-2.html">1-2.html</a></li>
        <li><a href="brief-1-3.html">1-3.html</a></li>
        <li><a href="brief-1-4.html">1-4.html</a></li>
        <li><a href="brief-1-5.html">1-5.html</a></li>
        <li><a href="brief-1-6.html">1-6.html</a></li>
        <li><a href="brief-1-7.html">1-7.html</a></li>
        <li><a href="brief-2-1.html">2-1.html</a></li>
        <li><a href="brief-2-2.html">2-2.html</a></li>
        <li><a href="brief-3-1.html">3-1.html</a></li>
        <li><a href="brief-3-2.html">3-2.html</a></li>
        <li><a href="brief-4-1.html">4-1.html</a></li>
        <li><a href="brief-4-2.html">4-2.html</a></li>
        <li><a href="brief-5-1.html">5-1.html</a></li>
        <li><a href="brief-5-2.html">5-2.html</a></li>
        <li><a href="brief-6.html">6.html</a></li>
        <li><a href="brief-7-1.html">7-1.html</a></li>
        <li><a href="brief-7-2.html">7-2.html</a></li>
        <li><a href="brief-8-1.html">8-1.html</a></li>
        <li><a href="brief-8-2.html">8-2.html</a></li>
        <li><a href="brief-9-1.html">9-1.html</a></li>
        <li><a href="brief-9-2.html">9-2.html</a></li>
        <li><a href="brief-9-3.html">9-3.html</a></li>
        <li><a href="brief-9-4.html">9-4.html</a></li>
      </ul>
    </div>
    <header>
      <div class="logo"><a href="index.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
      <nav>
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Проекты</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </nav>
      <div class="header_right">
        <div class="notification"><img src="pic/notification-icon.svg" alt="Уведомления"><span class="active"></span></div>
        <div class="user"><img src="pic/user.jpg" alt="user name"></div>
      </div>
    </header>
    <div class="content_block">
      <div class="content_pagination"><a class="back_button" href="#"><img src="pic/pagination-back.svg"><span>Назад</span></a>
        <ul class="pagination_content">
          <li><a href="#">Шаг 1</a></li>
          <li class="active"><a href="#">Шаг 2</a></li>
          <li><a href="#">Шаг 3</a></li>
          <li><a href="#">Шаг 4</a></li>
        </ul>
      </div>
      <div class="background background_margin content_form">
        <div class="information_drop header_drop">
          <h1>Целевая аудитория</h1>
          <button class="information_drop_button_head"><img src="pic/help-icon-shadow.svg"></button>
          <div class="information_overlay_head">
            <p>Что это такое?</p>
            <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
          </div>
        </div>
        <div class="content_button button_margin position_justify">
          <button class="button white_button" style="width: 300px">Настроить самостоятельно</button>
          <button class="button white_button" style="width: 300px">Выбрать из готового</button>
        </div>
      </div>
      <div class="background background_margin content_form what_product">
        <div class="information_drop header_drop">
          <h2 style="margin-bottom: 0"> Соц. дем</h2>
          <button class="information_drop_button_head"><img src="pic/help-icon-shadow.svg"></button>
          <div class="information_overlay_head">
            <div class="title">Что это такое?</div>
            <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
          </div>
        </div>
        <div class="content_button button_margin position_justify">
          <button class="button blue_button" style="width: 300px">Настроить самостоятельно</button>
          <button class="button white_button" style="width: 300px">Выбрать из готового</button>
        </div>
        <form>
          <div class="form_element_breif"><span class="title">Пол</span>
            <div class="buttons_inline_flex">
              <div class="button_group_breif">
                <button class="active">М</button>
                <button>Ж</button>
                <button>Оба</button>
                <button>Неважно</button>
              </div>
            </div>
          </div>
          <div class="form_element_breif"><span class="title">Доход (на человека в месяц в семье)</span>
            <div class="rainbow_slider">
              <input class="js-range-slider" type="text" data-min="12500" data-max="150000" name="income" value="">
              <div class="rainbow_slider_title_position">
                <div class="item"><span>Низкий</span><span>от 12 500 ₽/мес</span></div>
                <div class="item"><span>Средний</span></div>
                <div class="item"><span>Высокий</span><span>более 150 000 ₽/мес</span></div>
              </div>
            </div>
          </div>
          <div class="form_element_breif"><span class="title">Возраст</span>
            <div class="blue_slider">
              <input class="js-range-slider" type="text" data-type="double" data-min="10" data-max="70" name="age" value="">
              <div class="blue_slider_position"><span>10</span><span>25</span><span>40</span><span>55</span><span>70</span></div>
            </div>
          </div>
          <div class="form_element_breif"><span class="title">Дети</span>
            <div class="buttons_inline_flex">
              <div class="button_group_breif">
                <button class="active">Есть</button>
                <button>Нет</button>
                <button>Неважно</button>
              </div>
            </div>
          </div>
          <div class="form_element_breif">
            <div class="information_drop header_drop span_drop"><span class="title">Потребительское поведение</span>
              <button class="information_drop_button"><img src="pic/help-icon-shadow.svg"></button>
              <div class="information_overlay">
                <p>Что это такое?</p>
                <p>The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.</p>
              </div>
            </div>
            <div class="consumer_behavior">
              <input name="consumer_behavior" value="1" id="consumer_input">
              <div id="consumer_behavior_image"><img src="pic/consumer1.png"></div>
              <div class="consumer_behavior_buttons">
                <button class="active" data="consumer1" value="1">Трендсеттеры</button>
                <button data="consumer2" value="2">Последователи</button>
                <button data="consumer3" value="3">Консерваторы</button>
              </div>
            </div>
          </div>
          <div class="form_element_breif" style="margin-top: 20px"><span class="title">Дополнительная информация</span>
            <textarea name="additional_information" placeholder="Дополнительная информация"></textarea>
          </div>
        </form>
      </div>
      <div class="background background_margin content_form what_product">
        <h2>Мотивы потребления</h2>
        <div class="breif_card_position">
          <div class="breif_card_item">
            <div class="breif_card_item_pic"><img src="pic/motiv1.jpg" alt="Безопасность"></div>
            <p>Безопасность</p>
            <p class="content">Те, кто боится купить некачественное</p>
            <button class="button blue_button">Выбрано</button>
          </div>
          <div class="breif_card_item">
            <div class="breif_card_item_pic"><img src="pic/motiv2.jpg" alt="Безопасность"></div>
            <p>Полнота жизни</p>
            <p class="content">Те, кто хочет получить максимум вкуса, аромата, пользы и т.п</p>
            <button class="button white_button">Выбрать</button>
          </div>
          <div class="breif_card_item">
            <div class="breif_card_item_pic"><img src="pic/motiv3.jpg" alt="Безопасность"></div>
            <p>Контроль</p>
            <p class="content">Те, кому важно знать все о продукте и производителе</p>
            <button class="button white_button">Выбрать</button>
          </div>
          <div class="breif_card_item">
            <div class="breif_card_item_pic"><img src="pic/motiv4.jpg" alt="Безопасность"></div>
            <p>Лидерство</p>
            <p class="content">Те, кому важно покупать лучшее</p>
            <button class="button blue_button">Выбрано</button>
          </div>
          <div class="breif_card_item">
            <div class="breif_card_item_pic"><img src="pic/motiv5.jpg" alt="Безопасность"></div>
            <p>Единение</p>
            <p class="content">Кому важно потреблять как все, не выделяться, быть частью некоего социума</p>
            <button class="button white_button">Выбрать</button>
          </div>
          <div class="breif_card_item">
            <div class="breif_card_item_pic"><img src="pic/motiv6.jpg" alt="Безопасность"></div>
            <p>Изменения</p>
            <p class="content">Те, кто покупая продукт хотят что-то поменять в себе, в жизни, в рационе, пробовать новое и т.п.</p>
            <button class="button white_button">Выбрать</button>
          </div>
        </div>
        <div class="content_button button_margin position_justify">
          <button class="button white_button" style="width: 200px">Пропустить</button>
          <button class="button blue_button" style="width: 200px">Далее</button>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer_item">
        <div class="logo"><a href="index2.html"><img src="pic/logo.svg" alt="Brand Hub"></a></div>
        <div class="footer_nav">
          <ul>
            <li><a href="#">Сотрудничество</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Документы</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_item">
        <ul class="footer_social">
          <li><a href="#"><img src="pic/footer-social-1.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-2.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-3.svg"></a></li>
          <li><a href="#"><img src="pic/footer-social-4.svg"></a></li>
        </ul>
      </div>
      <div class="footer_copyright">© 2020</div>
    </footer>
    <script src="js/brief-dist.js"></script>
  </section>
</body>

brief/pages/brief-3-2.pug
include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			.background.background_margin.content_form
				.information_drop.header_drop
					h1 Целевая аудитория
					button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
					.information_overlay_head
						p Что это такое?
						p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
				.content_button.button_margin.position_justify
					button.button.white_button(style="width: 300px") Настроить самостоятельно
					button.button.white_button(style="width: 300px") Выбрать из готового
			.background.background_margin.content_form.what_product
				.information_drop.header_drop
					h2(style="margin-bottom: 0")  Соц. дем
					button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
					.information_overlay_head
						.title Что это такое?
						p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
				.content_button.button_margin.position_justify
					button.button.blue_button(style="width: 300px") Настроить самостоятельно
					button.button.white_button(style="width: 300px") Выбрать из готового
				form
					.form_element_breif
						span.title Пол
						.buttons_inline_flex
							.button_group_breif
								button.active М
								button Ж
								button Оба
								button Неважно
					.form_element_breif
						span.title Доход (на человека в месяц в семье)
						.rainbow_slider
							input(type="text" data-min="12500" data-max="150000" class="js-range-slider" name="income" value="")
							.rainbow_slider_title_position
								.item
									span Низкий
									span от 12 500 ₽/мес
								.item
									span Средний
								.item
									span Высокий
									span более 150 000 ₽/мес
					.form_element_breif
						span.title Возраст
						.blue_slider
							input(type="text" data-type="double" data-min="10" data-max="70" class="js-range-slider" name="age" value="")
							.blue_slider_position
								span 10
								span 25
								span 40
								span 55
								span 70
					.form_element_breif
						span.title Дети
						.buttons_inline_flex
							.button_group_breif
								button.active Есть
								button Нет
								button Неважно
					.form_element_breif
						.information_drop.header_drop.span_drop
							span.title Потребительское поведение
							button.information_drop_button: img(src="pic/help-icon-shadow.svg")
							.information_overlay
								p Что это такое?
								p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
						.consumer_behavior
							input(name="consumer_behavior" value="1")#consumer_input
							#consumer_behavior_image: img(src="pic/consumer1.png")
							.consumer_behavior_buttons
								button(data="consumer1" value="1").active Трендсеттеры
								button(data="consumer2" value="2") Последователи
								button(data="consumer3" value="3") Консерваторы
					.form_element_breif(style="margin-top: 20px")
						span.title Дополнительная информация
						textarea(name="additional_information" placeholder="Дополнительная информация")
			.background.background_margin.content_form.what_product
				h2 Мотивы потребления
				.breif_card_position
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv1.jpg" alt="Безопасность")
						p Безопасность
						p.content Те, кто боится купить некачественное
						button.button.blue_button Выбрано
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv2.jpg" alt="Безопасность")
						p Полнота жизни
						p.content Те, кто хочет получить максимум вкуса, аромата, пользы и т.п
						button.button.white_button Выбрать
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv3.jpg" alt="Безопасность")
						p Контроль
						p.content Те, кому важно знать все о продукте и производителе
						button.button.white_button Выбрать
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv4.jpg" alt="Безопасность")
						p Лидерство
						p.content Те, кому важно покупать лучшее
						button.button.blue_button Выбрано
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv5.jpg" alt="Безопасность")
						p Единение
						p.content Кому важно потреблять как все, не выделяться, быть частью некоего социума
						button.button.white_button Выбрать
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv6.jpg" alt="Безопасность")
						p Изменения
						p.content Те, кто покупая продукт хотят что-то поменять в себе, в жизни, в рационе, пробовать новое и т.п.
						button.button.white_button Выбрать
				.content_button.button_margin.position_justify
					button.button.white_button(style="width: 200px") Пропустить
					button.button.blue_button(style="width: 200px") Далее

		include ../includes/footer
