build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Brand Hub - Бренд мечты, а не мечты о бренде!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css?v=222222222">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/main-dist.js?v=222222222"></script>
    <script src="js/modal-dist.js?v=222222222"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.viewportchecker.min.js"></script>
    <script src="js/scroll-lock.min.js"></script>
  </head>
</html>
<body class="body_blue template1">
  <div class="modal" id="modal_nav">
    <div id="modal_nav_position">
      <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="javascript:void(0)" id="mobile_nav_service_button">Услуги</a>
          <ul class="mobile_drop_nav">
            <li class="active"><a href="services-brand.html">Новый бренд</a></li>
            <li><a href="services-package.html">Дизайн упаковки</a></li>
            <li><a href="services-design.html">Дизайн сайта</a></li>
            <li><a href="services-market.html">Маркетплейс</a></li>
            <li><a href="services-audit.html">Аудит бренда</a></li>
            <li><a href="services-custom.html">Кастом</a></li>
          </ul>
        </li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Блог</a></li>
      </ul>
    </div>
      <button class="button_white" id="login_button_mobile"><span>Войти</span></button>
  </div>
  <div class="modal modal_right" id="modal_login_welcome">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">В шаге от своего бренда</div>
      <div class="modal_login_icon responsive_pic"><img src="pic/modal-login-enter.png"></div>
      <div class="modal_login_buttons">
          <button class="button_blue" id="modal_registration_button"><span>Регистрация</span></button>
          <button class="button_white" id="modal_login_button"><span>Вход</span></button>
        <div class="modal_social_buttons">
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-1.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-2.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-3.svg"></a></span></button>
        </div>
        <div class="modal_account_sub"><span>Нет аккаунта?</span>
          <button id="modal_sub_reg_button">Зарегестрируйтесь</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal_right" id="modal_registration">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">Зарегистрируйтесь</div>
      <form action="">
        <input type="text" name="full_name" placeholder="ФИО">
        <input type="email" name="email" placeholder="Электронная почта">
        <div class="password_show_hide">
          <input type="password" name="password" placeholder="Пароль">
          <button class="password_toggle_icon"><span></span></button>
        </div>
        <div class="check_password_complexity"></div>
        <label class="custom_checkbox">
          <input type="checkbox"><span>
            <p>Согласен&nbsp;<a href="#">с условиями обслуживания сервиса Brandhub</a></p></span>
        </label>
      </form>
      <div class="modal_login_buttons">
          <button class="button_blue" id="register_submit"><span>Зарегистрироваться</span></button>
        <div class="modal_social_buttons">
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-1.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-2.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-3.svg"></a></span></button>
        </div>
        <div class="modal_account_sub"><span>Есть аккаунт?</span>
          <button id="modal_sub_login_button">Войти</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal_right" id="modal_login">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">Войдите</div>
      <form action="">
        <input type="email" name="email" placeholder="Электронная почта">
        <div class="password_show_hide">
          <input type="password" name="password" placeholder="Пароль">
          <button class="password_toggle_icon"><span></span></button>
        </div>
        <div class="forgot_password">
          <p>Забыли пароль?</p>
          <button id="restore_password_button">Восстановить</button>
        </div>
        <div class="modal_login_buttons">
          <label class="custom_checkbox">
            <input type="checkbox"><span>
              <p>Запомнить меня</p></span>
          </label>
            <button class="button_blue" id="button_login"><span>Вход</span></button>
        </div>
      </form>
      <div class="modal_login_buttons">
        <div class="modal_social_buttons">
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-1.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-2.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-3.svg"></a></span></button>
        </div>
        <div class="modal_account_sub"><span>Нет аккаунта?</span>
          <button id="modal_sub_reg_button">Зарегестрируйтесь</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal_right" id="modal_restore_password">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">Восстановление пароля</div>
      <form action="">
        <input type="email" name="email" placeholder="Электронная почта">
        <div class="modal_login_buttons">
            <button class="button_blue" id="reset_password_button"><span>Восстановить</span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="service_questions" id="service_questions_block">
    <button id="service_questions_button"></button>
    <div class="service_questions_block">
      <button class="close_modal close_main_nav"><span>
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
          </svg></span></button>
      <div class="title">Вопросы о сервисе</div>
      <div class="service_questions_content"><!-- SERVICE QUESTIONS ADMIN HAS LOGIN -->
        <div class="service_questions_content_item service_admin has_login">
          <div class="service_questions_content_position">
            <div class="service_questions_icon"><img src="pic/message-icon1.jpg" alt="Анна"></div>
            <div class="service_questions_message">
              <div class="service_questions_title">Анна</div>
              <div class="service_questions_text">Здравствуйте! Как я могу вам помочь?</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_admin">Отправлено 20:22</div><!-- SERVICE QUESTIONS ADMIN HAS LOGIN -->
<!-- SERVICE QUESTIONS USER HAS LOGIN -->
        <div class="service_questions_content_item service_user has_login">
          <div class="service_questions_content_position">
            <div class="service_questions_icon"><img src="pic/message-icon2.jpg" alt="Иван Иванов"></div>
            <div class="service_questions_message">
              <div class="service_questions_title">Иван Иванов</div>
              <div class="service_questions_text">Хотел узнать о статусе проекта</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_user">Отправлено 20:22</div><!-- END SERVICE QUESTIONS USER HAS LOGIN -->
<!-- SERVICE QUESTIONS ADMIN NO LOGIN -->
        <div class="service_questions_content_item service_admin no_login">
          <div class="service_questions_content_position">
            <div class="service_questions_message">
              <div class="service_questions_text">Здравствуйте! Как я могу вам помочь?</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_admin">Отправлено 20:22</div><!-- END SERVICE QUESTIONS ADMIN NO LOGIN -->
<!-- SERVICE QUESTIONS USER HAS LOGIN -->
        <div class="service_questions_content_item service_user no_login">
          <div class="service_questions_content_position">
            <div class="service_questions_message">
              <div class="service_questions_text">Хотел узнать о статусе проекта</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_user">Отправлено 20:22</div><!-- END SERVICE QUESTIONS USER HAS LOGIN -->
      </div>
      <div class="service_questions_form">
        <form action="">
          <input type="text" placeholder="Введите вопорс" value="" name="text">
        </form>
      </div>
    </div>
  </div>
  <div id="modal_video_block">
    <button class="close_modal close_modal_video" id="close_modal_video">
      <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
      </svg>
    </button>
    <div class="modal_video_position">
      <div class="modal_video_youtube">
        <iframe width="904" height="508.5" src="https://www.youtube.com/embed/Z_eaCPZ3v2s?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="center_block" id="header">
    <header>
      <div class="header_position">
        <div class="logo"><a href="index2.html"><img src="pic/logo.svg"></a></div>
        <nav class="main_nav">
          <ul>
            <li><a href="about.html">О нас</a>
              <ul class="main_nav_drop">
                <li><a href="#">О сервисе</a></li>
                <li><a href="#">Как работает сервсис?</a></li>
                <li><a href="#">Чем мы отличаемся?</a></li>
              </ul>
            </li>
            <li><a href="services.html">Услуги</a>
              <ul class="main_nav_drop">
                <li class="active"><a href="services-brand.html">Новый бренд</a></li>
                <li><a href="services-package.html">Дизайн упаковки</a></li>
                <li><a href="services-design.html">Дизайн сайта</a></li>
                <li><a href="services-market.html">Маркетплейс</a></li>
                <li><a href="services-audit.html">Аудит</a></li>
                <li><a href="services-custom.html">Кастом</a></li>
              </ul>
            </li>
            <li><a href="projects.html">Проекты</a></li>
            <li><a href="blog.html">Блог</a></li>
          </ul>
        </nav>
          <button class="button_white" id="login_button"><span>Войти</span></button>
        <button class="button_white" id="mobile_nav_button"><span></span></button>
      </div>
    </header>
  </div>
  <div class="wrapped_block">
    <div class="center_block">
      <section class="main_title">
        <h1 class="title" id="header_title"><span>Бренд</span><span> мечты,</span><span><br/>а не</span><span> мечты</span><span><br/>о бренде!</span></h1>
        <div class="main_title_position">
          <div class="subtitle">Наконец-то создание бренда автоматизировано и превращено в удобный, современный и приятный сервис, без потери качества и эффективности!</div>
          <button class="button_round" id="main_video_popup"><span>Нет времени читать?</span><span>Посмотрите как это круто</span>
            <div class="button_round_icon"><img src="pic/play-button.svg"></div>
          </button>
        </div>
        <div class="try_now_button"><a class="link_button_blue link_buttons try_now_link" href="try-now"><span>Попробовать сейчас же</span></a>
        </div>
      </section>
    </div>
    <!-- Блок слогана-->
    <div class="slogan_box">
      <div id="slogan_box_round"></div><span>Brand Hub  переосмыслил процесс заказа и создания бренда. Теперь вместо затратного и  сложного процесса, вы получаете  легко управляемый инструмент  с простыми и эффективными  решениями.</span>
    </div>
    <section class="main_presentation_slider">
      <div class="center_block">
        <div class="main_presentation_slider_position">
          <h2 class="title">Уже создано и приносит прибыль</h2><a class="button_round" id="all_project_link"><span>Посмотреть</span><span>все проекты</span>
            <div class="button_round_icon"><img src="pic/arrow-icon.svg"></div></a>
        </div>
      </div>
      <div class="project_slider_items">
        <div class="owl-carousel" id="full_width_slider">
          <div class="project_item"><a href="project.html"><span class="project_pic"><img src="pic/project-item1.jpg" alt="Ration"></span><span class="title">Ration</span><span class="content">Позиционирование, нейминг и фирменный стиль сервиса по доставке еды</span></a></div>
          <div class="project_item"><a href="project.html"><span class="project_pic"><img src="pic/project-item2.jpg" alt="Ration"></span><span class="title">Ration</span><span class="content">Позиционирование, нейминг и фирменный стиль сервиса по доставке еды</span></a></div>
          <div class="project_item"><a href="project.html"><span class="project_pic"><img src="pic/project-item3.jpg" alt="Ration"></span><span class="title">Ration</span><span class="content">Позиционирование, нейминг и фирменный стиль сервиса по доставке еды</span></a></div>
          <div class="project_item"><a href="project.html"><span class="project_pic"><img src="pic/project-item1.jpg" alt="Ration"></span><span class="title">Ration</span><span class="content">Позиционирование, нейминг и фирменный стиль сервиса по доставке еды</span></a></div>
          <div class="project_item"><a href="project.html"><span class="project_pic"><img src="pic/project-item2.jpg" alt="Ration"></span><span class="title">Ration</span><span class="content">Позиционирование, нейминг и фирменный стиль сервиса по доставке еды</span></a></div>
          <div class="project_item"><a href="project.html"><span class="project_pic"><img src="pic/project-item3.jpg" alt="Ration"></span><span class="title">Ration</span><span class="content">Позиционирование, нейминг и фирменный стиль сервиса по доставке еды</span></a></div>
          <div class="project_item"><a href="project.html"><span class="project_pic"><img src="pic/project-item1.jpg" alt="Ration"></span><span class="title">Ration</span><span class="content">Позиционирование, нейминг и фирменный стиль сервиса по доставке еды</span></a></div>
          <div class="project_item"><a href="project.html"><span class="project_pic"><img src="pic/project-item2.jpg" alt="Ration"></span><span class="title">Ration</span><span class="content">Позиционирование, нейминг и фирменный стиль сервиса по доставке еды</span></a></div>
        </div>
      </div>
    </section>
    <section class="main_infographics_block">
      <div class="center_block">
        <h2 class="title">Пользоваться сервисом просто</h2>
        <div class="main_infographics_block_position">
          <div class="main_infographics_block_item"><span class="count_item"><img src="pic/infographics-1.svg" alt="Выберите готовый пакет или услугу."></span>
            <div class="main_infographics_block_item_position"><span class="count_title">Выберите готовый пакет или услугу.</span><span class="count_subtitle">Мы всё подготовили</span></div>
          </div>
          <div class="main_infographics_block_item"><span class="count_item"><img src="pic/infographics-2.svg" alt="Заполните онлайн-бриф в личном кабинете."></span>
            <div class="main_infographics_block_item_position"><span class="count_title">Заполните онлайн-бриф в личном кабинете.</span><span class="count_subtitle">Это займет около 15 минут.</span></div>
          </div>
          <div class="main_infographics_block_item"><span class="count_item"><img src="pic/infographics-3.svg" alt="Получите свой бренд через 3 недели."></span>
            <div class="main_infographics_block_item_position"><span class="count_title">Получите свой бренд через 3 недели.</span><span class="count_subtitle">Все права передаем.</span></div>
          </div>
          <div class="main_infographics_block_item"><span class="count_item"><img src="pic/infographics-4.svg" alt="Мы будем рядом."></span>
            <div class="main_infographics_block_item_position"><span class="count_title">Мы будем рядом.</span><span class="count_subtitle">По завершению проекта мы будем поддерживать.</span></div>
          </div>
        </div>
      </div>
    </section>
    <section class="important_budget">
      <div class="center_block">
        <h3 class="title">Мы знаем как важен бюджет</h3>
        <div class="subtitle">Экономьте время, нервы и деньги, не ломайте голову над лишними заботами, при этом, получайте брендинг серьезного уровня</div>
        <div class="important_budget_grid">
          <div class="important_budget_item"><a class="important_b_link" href="services-brand.html"></a>
            <div class="important_budget_item_top">
              <div class="title">Новый бренд или ребрендинг</div>
              <div class="subtitle">Создать новый бренд или проанализировать и освежить текущий</div>
            </div>
            <div class="important_budget_item_bottom">
              <div class="important_budget_item_position">
                <div class="important_budget_item_left"><span>Цена: <b>150 000 ₽</b></span><span>Срок: <b>3 недели</b></span></div>
                <div class="important_budget_item_link">Подробнее ></div>
              </div>
            </div>
          </div>
          <div class="important_budget_item"><a class="important_b_link" href="services-design.html"></a>
            <div class="important_budget_item_top">
              <div class="title">Дизайн сайта</div>
              <div class="subtitle">Cтать заместнее в интернете: разработка дизайна сайта, рекламы и соц. сетей</div>
            </div>
            <div class="important_budget_item_bottom">
              <div class="important_budget_item_position">
                <div class="important_budget_item_left"><span>Цена: <b>99 000 ₽</b></span><span>Срок: <b>2 недели</b></span></div>
                <div class="important_budget_item_link">Подробнее ></div>
              </div>
            </div>
          </div>
          <div class="important_budget_item new_price"><a class="important_b_link" href="services-audit.html"></a>
            <div class="important_budget_item_top">
              <div class="title">Аудит бренда</div>
              <div class="subtitle">Практические рекомендации как улучшить существу- ющийй бренд.</div>
            </div>
            <div class="important_budget_item_bottom">
              <div class="important_budget_item_position">
                <div class="important_budget_item_left"><span class="old_price">Цена: 
                    <p>30 000 ₽</p></span><span class="new_price">Цена: <b>5 000 ₽</b></span><span>Срок: <b>3 дня</b></span></div>
                <div class="important_budget_item_link">Подробнее ></div>
              </div>
            </div>
          </div>
          <div class="important_budget_item"><a class="important_b_link" href="services-market.html"></a>
            <div class="important_budget_item_top">
              <div class="title">Маркетплейс</div>
              <div class="subtitle">Быстро разместиться на онлайн-полке</div>
            </div>
            <div class="important_budget_item_bottom">
              <div class="important_budget_item_position">
                <div class="important_budget_item_left"><span>Цена: <b>130 000 ₽</b></span><span>Срок: <b>4-6 недель</b></span></div>
                <div class="important_budget_item_link">Подробнее ></div>
              </div>
            </div>
          </div>
          <div class="important_budget_item"><a class="important_b_link" href="services-package.html"></a>
            <div class="important_budget_item_top">
              <div class="title">Дизайн упаковки</div>
              <div class="subtitle">Разработать новый бренд для полки или интернет-витрины</div>
            </div>
            <div class="important_budget_item_bottom">
              <div class="important_budget_item_position">
                <div class="important_budget_item_left"><span>Цена: <b>240 000 ₽</b></span><span>Срок: <b>3 недели</b></span></div>
                <div class="important_budget_item_link">Подробнее ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="need_help">
      <div class="center_block">
        <div class="need_help_position">
          <div class="need_help_left">
            <h3 class="title">Остались вопросы? Давайте обсудим</h3><span>Напишите нам на <a href="mailto:myemail@mydomain.ru">почту</a>, <a href="#" target="_blank">Telegram</a> или <a href="#" target="_blank">WhatsApp</a></span><span>Или звоните - <a href="tel:84954142486">8 (495) 414-24-86</a></span>
          </div>
          <div class="need_help_right"><img src="pic/need-help-icon1.svg" alt="Остались вопросы? Давайте обсудим"></div>
        </div>
      </div>
    </section>
    <footer>
      <div class="center_block">
        <div class="footer_position">
          <div class="footer_logo"><a href="index.html"><img src="pic/footer-logo.svg" alt="Бренд мечты, а не мечты о бренде!"></a></div>
          <div class="footer_links">
            <ul>
              <li><a href="cooperation.html">Сотрудничество</a></li>
              <li><a href="contacts.html">Контакты</a></li>
              <li><a href="documents.html">Документы</a></li>
            </ul>
          </div>
          <div class="footer_social_links">
            <ul>
              <li><a href="cooperation.html"><img src="pic/footer-social-1.svg" alt="Facebook"></a></li>
              <li><a href="cooperation.html"><img src="pic/footer-social-2.svg" alt="Instagram"></a></li>
              <li><a href="cooperation.html"><img src="pic/footer-social-3.svg" alt="Telegram"></a></li>
              <li><a href="cooperation.html"><img src="pic/footer-social-4.svg" alt="Youtube"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer_year"><span>© 2020</span></div>
      </div>
    </footer>
  </div>
</body>

app/pages/index.pug
include ../includes/head
include ../mixins/buttons/button-round
include ../mixins/buttons/button-blue
include ../mixins/links/link-button-blue
include ../mixins/links/link-button-round
include ../mixins/components/project-item
include ../mixins/components/main-infographics-counter-image
include ../mixins/components/important-budget-item
include ../mixins/components/important-budget-item-new-price

body.body_blue.template1
	include ../includes/header
	.wrapped_block
		.center_block
			section.main_title
				h1.title#header_title
					span Бренд
					span  мечты,
					span <br/>а не
					span  мечты
					span <br/>о бренде!
				.main_title_position
					.subtitle Наконец-то создание бренда автоматизировано и превращено в удобный, современный и приятный сервис, без потери качества и эффективности!
					+button_round('main_video_popup', 'Нет времени читать?', 'Посмотрите как это круто', 'pic/play-button.svg')
				.try_now_button: +link_button_blue('try_now_link', 'Попробовать сейчас же', 'try-now')

		// Блок слогана
		.slogan_box
			#slogan_box_round
			span Brand Hub  переосмыслил процесс заказа и создания бренда. Теперь вместо затратного и  сложного процесса, вы получаете  легко управляемый инструмент  с простыми и эффективными  решениями.

		section.main_presentation_slider
			.center_block
				.main_presentation_slider_position
					h2.title Уже создано и приносит прибыль
					+link_button_round('all_project_link', 'Посмотреть', 'все проекты', 'pic/arrow-icon.svg')
			.project_slider_items
				.owl-carousel#full_width_slider
					+project_item('pic/project-item1.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item2.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item3.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item1.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item2.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item3.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item1.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item2.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')

		section.main_infographics_block
			.center_block
				h2.title Пользоваться сервисом просто
				.main_infographics_block_position
					+main_infographics_counter_image('pic/infographics-1.svg', 'Выберите готовый пакет или услугу.', 'Мы всё подготовили')
					+main_infographics_counter_image('pic/infographics-2.svg', 'Заполните онлайн-бриф в личном кабинете.', 'Это займет около 15 минут.')
					+main_infographics_counter_image('pic/infographics-3.svg', 'Получите свой бренд через 3 недели.', 'Все права передаем.')
					+main_infographics_counter_image('pic/infographics-4.svg', 'Мы будем рядом.', 'По завершению проекта мы будем поддерживать.')

		section.important_budget
			.center_block
				include ../includes/important-budget-block

		section.need_help
			.center_block
				.need_help_position
					.need_help_left
						h3.title Остались вопросы? Давайте обсудим
						span Напишите нам на <a href="mailto:myemail@mydomain.ru">почту</a>, <a href="#" target="_blank">Telegram</a> или <a href="#" target="_blank">WhatsApp</a>
						span Или звоните - <a href="tel:84954142486">8 (495) 414-24-86</a>
					.need_help_right: img(src="pic/need-help-icon1.svg" alt="Остались вопросы? Давайте обсудим")

		include ../includes/footer
