app/pages/services-design.pug
include ../mixins/services/services-title
include ../mixins/services/inside-package-item
include ../mixins/stages/page-text-item
include ../mixins/stages/stage-shadow-titles
include ../mixins/links/link-button-blue

include ../includes/head
body.services.design_body
	include ../includes/header
	.wrapped_block
		section.services_header.design_header
			.center_block
				span.dot.red
				span.dot.pale_blue
				include ../includes/breadcrumbs-block
				+services_title('Дизайн сайта – стать заметнее в интернете: разработка дизайна сайта, рекламы и соц. сетей', 'Оптимальный пакет для быстрого старта диджитал-проекта, либо проекта с online-присутствием. Содержит все самое необходимое для цифровизации вашего бизнеса', '99 000 ₽', '3 недели', 'pic/services-design.png')
				.services_header_buttons
					a(href="#" target="_blank" class="services_link services_design_link") Создать сайт
					a(href="#" target="_blank" class="services_download services_design") Скачать пример
		.center_block
			section.inside_package
				h2.package_title Что входит в пакет?
				.inside_package_position.package_inside
					+inside_package_item('pic/service-brand2.svg', 'Логотип', '2 варианта')
					+inside_package_item('pic/service-web1.svg', 'Дизайн лендинга', '1 вариант')
					+inside_package_item('pic/service-web2.svg', 'Оформление социальных сетей', 'Обложка, аватар, дизайн-шаблоны для рубрик и постов')
				h2.package_title.package_subtitle Проект проходит через 5 этапов
		section.stages_block
			.small_center_block

				.stages_block_item.stages1
					+page_text_item('01', 'Изучение брифа', 'Формулируем гипотезу позиционирования бренда. На основе утвержденного позиционирования разрабатываем 2 варианта фирменного стиля на примере логотипа.')
					.stages_page_pic: img(src="pic/stages-pic1.png" alt="Сбор информации о продукте")

				.stages_block_item.full_width.stages4.stages_web4
					.stages_shadow_block
						.stages_tab
							button.stages_tab_item.active: img(src="pic/web-tab1.png" alt="Продукт 1")
							button.stages_tab_item: img(src="pic/web-tab2.png" alt="Продукт 2")
						#stages_tab_line: span

						.stages_tab_content
							.stages_tab_content_block.active
								.stages_tab_content_block_item
									.title Концепция логотипа
									.content
										p Логотип состоит из двух основных элементов:
										p 1 - буквы массивного, современного, оригинального начертания;
										p 2 - горизонтальные линии, символизирующие конструктивность и адаптивность услуг компании + ассоциация с конвеерной лентой производства.
										p Логотип хорошо анимируется благодаря движению, смещению, перемещению линий.
								.stages_tab_content_block_item.center: img(src="pic/web-tab-content1.png" alt="Концепция логотипа")

								.stages_tab_content_block_item
									.title Цветовое решение
									.content
										p В фирменном стиле используется два основных цвета - синий и белый.
										p И два дополнительных цвета - светло-голубой и серый.
										p Цветовая гамма подчеркивает открытость, безопасность и уверенность компании.
										p Логотип также может существовать в инверсии, то есть белым начертанием на синем фоне.
								.stages_tab_content_block_item.center: img(src="pic/web-tab-content2.png" alt="Концепция упаковки")

							.stages_tab_content_block
								.stages_tab_content_block_item
									.title Концепция логотипа2
									.content
										p Логотип состоит из двух основных элементов:
										p 1 - буквы массивного, современного, оригинального начертания;
										p 2 - горизонтальные линии, символизирующие конструктивность и адаптивность услуг компании + ассоциация с конвеерной лентой производства.
										p Логотип хорошо анимируется благодаря движению, смещению, перемещению линий.
								.stages_tab_content_block_item.center: img(src="pic/web-tab-content1.png" alt="Концепция логотипа")

								.stages_tab_content_block_item
									.title Цветовое решение2
									.content
										p В фирменном стиле используется два основных цвета - синий и белый.
										p И два дополнительных цвета - светло-голубой и серый.
										p Цветовая гамма подчеркивает открытость, безопасность и уверенность компании.
										p Логотип также может существовать в инверсии, то есть белым начертанием на синем фоне.
								.stages_tab_content_block_item.center: img(src="pic/web-tab-content2.png" alt="Концепция упаковки")



					.stages_center_line: img(src="pic/stage4-center.svg" alt="Дизайн упаковки")

				.stages_block_item.stages5
					+page_text_item('02', 'Макет сайта и соц. сетей', 'Вы выбираете понравившийся вариант и мы развиваем его на макете сайта и социальных сетях.')
				.stages_center_line.stages5: img(src="pic/line5.svg" alt="Макет сайта и соц. сетей")

				.stages_block_item.full_width.stages4
					.stages_shadow_block
						.owl-carousel.stages_slider_block.once
							.stages_slider_block_item: img(src="pic/web-slider.jpg" alt="Rusoleochem")
							.stages_slider_block_item: img(src="pic/web-slider.jpg" alt="Rusoleochem")
							.stages_slider_block_item: img(src="pic/web-slider.jpg" alt="Rusoleochem")
							.stages_slider_block_item: img(src="pic/web-slider.jpg" alt="Rusoleochem")

				.stages_block_item.stage_last
					.stages_page_pic: img(src="pic/web-ready.png" alt="Поздравляем, ваша упаковка готова!")
					+page_text_item('03', 'Поздравляем, ваш сайт готов!', 'Передаем имущественные права на выбранный вариант и исходники.')
					.stages_page_pic.mobile_display: img(src="pic/web-ready.png" alt="Поздравляем, ваш сайт готов!")
					.make_brand_link: a(href="#") Создать сайт


		include ../includes/service-block/servoces-footer-content
		include ../includes/footer

build/services-design.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Brand Hub - Бренд мечты, а не мечты о бренде!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css?v=222222222">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/main-dist.js?v=222222222"></script>
    <script src="js/modal-dist.js?v=222222222"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.viewportchecker.min.js"></script>
    <script src="js/scroll-lock.min.js"></script>
  </head>
</html>
<body class="services design_body">
  <div class="modal" id="modal_nav">
    <div id="modal_nav_position">
      <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="javascript:void(0)" id="mobile_nav_service_button">Услуги</a>
          <ul class="mobile_drop_nav">
            <li class="active"><a href="services-brand.html">Новый бренд</a></li>
            <li><a href="services-package.html">Дизайн упаковки</a></li>
            <li><a href="services-design.html">Дизайн сайта</a></li>
            <li><a href="services-market.html">Маркетплейс</a></li>
            <li><a href="services-audit.html">Аудит бренда</a></li>
            <li><a href="services-custom.html">Кастом</a></li>
          </ul>
        </li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Блог</a></li>
      </ul>
    </div>
      <button class="button_white" id="login_button_mobile"><span>Войти</span></button>
  </div>
  <div class="modal modal_right" id="modal_login_welcome">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">В шаге от своего бренда</div>
      <div class="modal_login_icon responsive_pic"><img src="pic/modal-login-enter.png"></div>
      <div class="modal_login_buttons">
          <button class="button_blue" id="modal_registration_button"><span>Регистрация</span></button>
          <button class="button_white" id="modal_login_button"><span>Вход</span></button>
        <div class="modal_social_buttons">
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-1.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-2.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-3.svg"></a></span></button>
        </div>
        <div class="modal_account_sub"><span>Нет аккаунта?</span>
          <button id="modal_sub_reg_button">Зарегестрируйтесь</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal_right" id="modal_registration">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">Зарегистрируйтесь</div>
      <form action="">
        <input type="text" name="full_name" placeholder="ФИО">
        <input type="email" name="email" placeholder="Электронная почта">
        <div class="password_show_hide">
          <input type="password" name="password" placeholder="Пароль">
          <button class="password_toggle_icon"><span></span></button>
        </div>
        <div class="check_password_complexity"></div>
        <label class="custom_checkbox">
          <input type="checkbox"><span>
            <p>Согласен&nbsp;<a href="#">с условиями обслуживания сервиса Brandhub</a></p></span>
        </label>
      </form>
      <div class="modal_login_buttons">
          <button class="button_blue" id="register_submit"><span>Зарегистрироваться</span></button>
        <div class="modal_social_buttons">
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-1.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-2.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-3.svg"></a></span></button>
        </div>
        <div class="modal_account_sub"><span>Есть аккаунт?</span>
          <button id="modal_sub_login_button">Войти</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal_right" id="modal_login">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">Войдите</div>
      <form action="">
        <input type="email" name="email" placeholder="Электронная почта">
        <div class="password_show_hide">
          <input type="password" name="password" placeholder="Пароль">
          <button class="password_toggle_icon"><span></span></button>
        </div>
        <div class="forgot_password">
          <p>Забыли пароль?</p>
          <button id="restore_password_button">Восстановить</button>
        </div>
        <div class="modal_login_buttons">
          <label class="custom_checkbox">
            <input type="checkbox"><span>
              <p>Запомнить меня</p></span>
          </label>
            <button class="button_blue" id="button_login"><span>Вход</span></button>
        </div>
      </form>
      <div class="modal_login_buttons">
        <div class="modal_social_buttons">
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-1.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-2.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-3.svg"></a></span></button>
        </div>
        <div class="modal_account_sub"><span>Нет аккаунта?</span>
          <button id="modal_sub_reg_button">Зарегестрируйтесь</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal_right" id="modal_restore_password">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">Восстановление пароля</div>
      <form action="">
        <input type="email" name="email" placeholder="Электронная почта">
        <div class="modal_login_buttons">
            <button class="button_blue" id="reset_password_button"><span>Восстановить</span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="service_questions" id="service_questions_block">
    <button id="service_questions_button"></button>
    <div class="service_questions_block">
      <button class="close_modal close_main_nav"><span>
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
          </svg></span></button>
      <div class="title">Вопросы о сервисе</div>
      <div class="service_questions_content"><!-- SERVICE QUESTIONS ADMIN HAS LOGIN -->
        <div class="service_questions_content_item service_admin has_login">
          <div class="service_questions_content_position">
            <div class="service_questions_icon"><img src="pic/message-icon1.jpg" alt="Анна"></div>
            <div class="service_questions_message">
              <div class="service_questions_title">Анна</div>
              <div class="service_questions_text">Здравствуйте! Как я могу вам помочь?</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_admin">Отправлено 20:22</div><!-- SERVICE QUESTIONS ADMIN HAS LOGIN -->
<!-- SERVICE QUESTIONS USER HAS LOGIN -->
        <div class="service_questions_content_item service_user has_login">
          <div class="service_questions_content_position">
            <div class="service_questions_icon"><img src="pic/message-icon2.jpg" alt="Иван Иванов"></div>
            <div class="service_questions_message">
              <div class="service_questions_title">Иван Иванов</div>
              <div class="service_questions_text">Хотел узнать о статусе проекта</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_user">Отправлено 20:22</div><!-- END SERVICE QUESTIONS USER HAS LOGIN -->
<!-- SERVICE QUESTIONS ADMIN NO LOGIN -->
        <div class="service_questions_content_item service_admin no_login">
          <div class="service_questions_content_position">
            <div class="service_questions_message">
              <div class="service_questions_text">Здравствуйте! Как я могу вам помочь?</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_admin">Отправлено 20:22</div><!-- END SERVICE QUESTIONS ADMIN NO LOGIN -->
<!-- SERVICE QUESTIONS USER HAS LOGIN -->
        <div class="service_questions_content_item service_user no_login">
          <div class="service_questions_content_position">
            <div class="service_questions_message">
              <div class="service_questions_text">Хотел узнать о статусе проекта</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_user">Отправлено 20:22</div><!-- END SERVICE QUESTIONS USER HAS LOGIN -->
      </div>
      <div class="service_questions_form">
        <form action="">
          <input type="text" placeholder="Введите вопорс" value="" name="text">
        </form>
      </div>
    </div>
  </div>
  <div id="modal_video_block">
    <button class="close_modal close_modal_video" id="close_modal_video">
      <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
      </svg>
    </button>
    <div class="modal_video_position">
      <div class="modal_video_youtube">
        <iframe width="904" height="508.5" src="https://www.youtube.com/embed/Z_eaCPZ3v2s?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="center_block" id="header">
    <header>
      <div class="header_position">
        <div class="logo"><a href="index2.html"><img src="pic/logo.svg"></a></div>
        <nav class="main_nav">
          <ul>
            <li><a href="about.html">О нас</a>
              <ul class="main_nav_drop">
                <li><a href="#">О сервисе</a></li>
                <li><a href="#">Как работает сервсис?</a></li>
                <li><a href="#">Чем мы отличаемся?</a></li>
              </ul>
            </li>
            <li><a href="services.html">Услуги</a>
              <ul class="main_nav_drop">
                <li class="active"><a href="services-brand.html">Новый бренд</a></li>
                <li><a href="services-package.html">Дизайн упаковки</a></li>
                <li><a href="services-design.html">Дизайн сайта</a></li>
                <li><a href="services-market.html">Маркетплейс</a></li>
                <li><a href="services-audit.html">Аудит</a></li>
                <li><a href="services-custom.html">Кастом</a></li>
              </ul>
            </li>
            <li><a href="projects.html">Проекты</a></li>
            <li><a href="blog.html">Блог</a></li>
          </ul>
        </nav>
          <button class="button_white" id="login_button"><span>Войти</span></button>
        <button class="button_white" id="mobile_nav_button"><span></span></button>
      </div>
    </header>
  </div>
  <div class="wrapped_block">
    <section class="services_header design_header">
      <div class="center_block"><span class="dot red"></span><span class="dot pale_blue"></span>
        <div class="breadcrumbs_block">
          <ul>
            <li><a href="index.html">Главная</a></li>
            <li>Услуги</li>
          </ul>
        </div>
        <div class="services_title">
          <div class="services_title_left">
            <h1 class="title">Дизайн сайта – стать заметнее в интернете: разработка дизайна сайта, рекламы и соц. сетей</h1>
            <p>Оптимальный пакет для быстрого старта диджитал-проекта, либо проекта с online-присутствием. Содержит все самое необходимое для цифровизации вашего бизнеса</p>
            <div class="services_title_position">
              <p>Цена<span>99 000 ₽</span></p>
              <p>Срок<span>3 недели</span></p>
            </div>
          </div>
          <div class="services_title_pic"><img src="pic/services-design.png" alt="Дизайн сайта – стать заметнее в интернете: разработка дизайна сайта, рекламы и соц. сетей"/></div>
        </div>
        <div class="services_header_buttons"><a class="services_link services_design_link" href="#" target="_blank">Создать сайт</a><a class="services_download services_design" href="#" target="_blank">Скачать пример</a></div>
      </div>
    </section>
    <div class="center_block">
      <section class="inside_package">
        <h2 class="package_title">Что входит в пакет?</h2>
        <div class="inside_package_position package_inside">
          <div class="inside_package">
            <div class="inside_package_pic"><img src="pic/service-brand2.svg" alt="Логотип"/></div><span class="title">Логотип</span><span class="content">2 варианта</span>
          </div>
          <div class="inside_package">
            <div class="inside_package_pic"><img src="pic/service-web1.svg" alt="Дизайн лендинга"/></div><span class="title">Дизайн лендинга</span><span class="content">1 вариант</span>
          </div>
          <div class="inside_package">
            <div class="inside_package_pic"><img src="pic/service-web2.svg" alt="Оформление социальных сетей"/></div><span class="title">Оформление социальных сетей</span><span class="content">Обложка, аватар, дизайн-шаблоны для рубрик и постов</span>
          </div>
        </div>
        <h2 class="package_title package_subtitle">Проект проходит через 5 этапов</h2>
      </section>
    </div>
    <section class="stages_block">
      <div class="small_center_block">
        <div class="stages_block_item stages1">
          <div class="page_text_item"><span>01</span><span>Изучение брифа</span><span>Формулируем гипотезу позиционирования бренда. На основе утвержденного позиционирования разрабатываем 2 варианта фирменного стиля на примере логотипа.</span></div>
          <div class="stages_page_pic"><img src="pic/stages-pic1.png" alt="Сбор информации о продукте"></div>
        </div>
        <div class="stages_block_item full_width stages4 stages_web4">
          <div class="stages_shadow_block">
            <div class="stages_tab">
              <button class="stages_tab_item active"><img src="pic/web-tab1.png" alt="Продукт 1"></button>
              <button class="stages_tab_item"><img src="pic/web-tab2.png" alt="Продукт 2"></button>
            </div>
            <div id="stages_tab_line"><span></span></div>
            <div class="stages_tab_content">
              <div class="stages_tab_content_block active">
                <div class="stages_tab_content_block_item">
                  <div class="title">Концепция логотипа</div>
                  <div class="content">
                    <p>Логотип состоит из двух основных элементов:</p>
                    <p>1 - буквы массивного, современного, оригинального начертания;</p>
                    <p>2 - горизонтальные линии, символизирующие конструктивность и адаптивность услуг компании + ассоциация с конвеерной лентой производства.</p>
                    <p>Логотип хорошо анимируется благодаря движению, смещению, перемещению линий.</p>
                  </div>
                </div>
                <div class="stages_tab_content_block_item center"><img src="pic/web-tab-content1.png" alt="Концепция логотипа"></div>
                <div class="stages_tab_content_block_item">
                  <div class="title">Цветовое решение</div>
                  <div class="content">
                    <p>В фирменном стиле используется два основных цвета - синий и белый.</p>
                    <p>И два дополнительных цвета - светло-голубой и серый.</p>
                    <p>Цветовая гамма подчеркивает открытость, безопасность и уверенность компании.</p>
                    <p>Логотип также может существовать в инверсии, то есть белым начертанием на синем фоне.</p>
                  </div>
                </div>
                <div class="stages_tab_content_block_item center"><img src="pic/web-tab-content2.png" alt="Концепция упаковки"></div>
              </div>
              <div class="stages_tab_content_block">
                <div class="stages_tab_content_block_item">
                  <div class="title">Концепция логотипа2</div>
                  <div class="content">
                    <p>Логотип состоит из двух основных элементов:</p>
                    <p>1 - буквы массивного, современного, оригинального начертания;</p>
                    <p>2 - горизонтальные линии, символизирующие конструктивность и адаптивность услуг компании + ассоциация с конвеерной лентой производства.</p>
                    <p>Логотип хорошо анимируется благодаря движению, смещению, перемещению линий.</p>
                  </div>
                </div>
                <div class="stages_tab_content_block_item center"><img src="pic/web-tab-content1.png" alt="Концепция логотипа"></div>
                <div class="stages_tab_content_block_item">
                  <div class="title">Цветовое решение2</div>
                  <div class="content">
                    <p>В фирменном стиле используется два основных цвета - синий и белый.</p>
                    <p>И два дополнительных цвета - светло-голубой и серый.</p>
                    <p>Цветовая гамма подчеркивает открытость, безопасность и уверенность компании.</p>
                    <p>Логотип также может существовать в инверсии, то есть белым начертанием на синем фоне.</p>
                  </div>
                </div>
                <div class="stages_tab_content_block_item center"><img src="pic/web-tab-content2.png" alt="Концепция упаковки"></div>
              </div>
            </div>
          </div>
          <div class="stages_center_line"><img src="pic/stage4-center.svg" alt="Дизайн упаковки"></div>
        </div>
        <div class="stages_block_item stages5">
          <div class="page_text_item"><span>02</span><span>Макет сайта и соц. сетей</span><span>Вы выбираете понравившийся вариант и мы развиваем его на макете сайта и социальных сетях.</span></div>
        </div>
        <div class="stages_center_line stages5"><img src="pic/line5.svg" alt="Макет сайта и соц. сетей"></div>
        <div class="stages_block_item full_width stages4">
          <div class="stages_shadow_block">
            <div class="owl-carousel stages_slider_block once">
              <div class="stages_slider_block_item"><img src="pic/web-slider.jpg" alt="Rusoleochem"></div>
              <div class="stages_slider_block_item"><img src="pic/web-slider.jpg" alt="Rusoleochem"></div>
              <div class="stages_slider_block_item"><img src="pic/web-slider.jpg" alt="Rusoleochem"></div>
              <div class="stages_slider_block_item"><img src="pic/web-slider.jpg" alt="Rusoleochem"></div>
            </div>
          </div>
        </div>
        <div class="stages_block_item stage_last">
          <div class="stages_page_pic"><img src="pic/web-ready.png" alt="Поздравляем, ваша упаковка готова!"></div>
          <div class="page_text_item"><span>03</span><span>Поздравляем, ваш сайт готов!</span><span>Передаем имущественные права на выбранный вариант и исходники.</span></div>
          <div class="stages_page_pic mobile_display"><img src="pic/web-ready.png" alt="Поздравляем, ваш сайт готов!"></div>
          <div class="make_brand_link"><a href="#">Создать сайт</a></div>
        </div>
      </div>
    </section>
    <div class="center_block">
      <section class="services_footer_content">
        <h3 class="titl2">Проекты</h3>
        <div class="owl-carousel" id="services_footer_content_slider">
          <div class="services_footer_content_slider_item"><a href="#"></a>
            <div class="pic"><img src="pic/services-footer-c1.jpg" alt="Wellroom"></div><span>Wellroom</span>
          </div>
          <div class="services_footer_content_slider_item"><a href="#"></a>
            <div class="pic"><img src="pic/services-footer-c2.jpg" alt="Wellroom"></div><span>Wellroom</span>
          </div>
          <div class="services_footer_content_slider_item"><a href="#"></a>
            <div class="pic"><img src="pic/services-footer-c3.jpg" alt="Wellroom"></div><span>Wellroom</span>
          </div>
        </div>
      </section>
      <section class="services_blog">
        <h3 class="title">Блог</h3>
        <div class="services_blog_list">
          <div class="services_blog_item"><span class="date">17 апреля 2020 г.</span><a href="#">Основные ошибки в разработке логотипа</a>
            <p>Lorem ipsum dolor sit amet dolor sit amet lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="services_blog_item"><span class="date">23 марта 2020 г.</span><a href="#">12 сервисов для старта бизнеса</a>
            <p>Lorem ipsum dolor sit amet dolor sit amet lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="services_blog_item"><span class="date">16 апреля 2020 г.</span><a href="#">Брендинг - это эффективное самоопределение. А не логотип.</a>
            <p>Lorem ipsum dolor sit amet dolor sit amet lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
        </div>
      </section>
      <section class="need_help_v2">
        <div class="need_help_v2_item">
          <h3 class="title">Остались вопросы? Давайте обсудим</h3><span>Напишите нам на <a href="mailto:myemail@mydomain.ru">почту</a>, <a href="#" target="_blank">Telegram</a> или <a href="#" target="_blank">WhatsApp</a></span><span>Или звоните - <a href="tel:84954142486">8 (495) 414-24-86</a></span>
        </div>
        <div class="need_help_v2_item"><img src="pic/need-help-icon2.svg" alt="Остались вопросы? Давайте обсудим"><span class="dot red"></span><span class="dot pale_blue"></span></div>
      </section>
    </div>
    <footer>
      <div class="center_block">
        <div class="footer_position">
          <div class="footer_logo"><a href="index.html"><img src="pic/footer-logo.svg" alt="Бренд мечты, а не мечты о бренде!"></a></div>
          <div class="footer_links">
            <ul>
              <li><a href="cooperation.html">Сотрудничество</a></li>
              <li><a href="contacts.html">Контакты</a></li>
              <li><a href="documents.html">Документы</a></li>
            </ul>
          </div>
          <div class="footer_social_links">
            <ul>
              <li><a href="cooperation.html"><img src="pic/footer-social-1.svg" alt="Facebook"></a></li>
              <li><a href="cooperation.html"><img src="pic/footer-social-2.svg" alt="Instagram"></a></li>
              <li><a href="cooperation.html"><img src="pic/footer-social-3.svg" alt="Telegram"></a></li>
              <li><a href="cooperation.html"><img src="pic/footer-social-4.svg" alt="Youtube"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer_year"><span>© 2020</span></div>
      </div>
    </footer>
  </div>
</body>
