app/pages/services-audit.pug
include ../mixins/services/services-title-new-price
include ../mixins/services/inside-package-item
include ../mixins/stages/page-text-item
include ../mixins/stages/stage-shadow-titles
include ../mixins/links/link-button-blue
include ../mixins/services/audit-expert

include ../includes/head
body.services.audit_body
	include ../includes/header
	.wrapped_block
		section.services_header.audit_header
			.center_block
				span.dot.red
				span.dot.pale_blue
				include ../includes/breadcrumbs-block
				+services_title_new_price('Аудит бренда – получить рекомендации о том, как улучшить сайт, упаковку или фирменный стиль', 'Как можно улучшить существующий сайт, упаковку или логотип? Насколько ваши фирменные материалы могут работать эффективнее? Мы проанализируем и расскажем как улучшить', '5 000 ₽', '3 дня', 'pic/audit-header.png', '30 000 ₽')

				.services_header_buttons
					a(href="#" target="_blank" class="services_link services_audit_link") Получить аудит
					a(href="#" target="_blank" class="services_download services_audit") Скачать пример
		.center_block
			section.inside_package
				h2.package_title Что входит в пакет?
				.inside_package_position.audit_icon_block
					+inside_package_item('pic/services-audit0.svg', 'Нейминг', '')
					+inside_package_item('pic/services-audit1.svg', 'Стратегия', '')
					+inside_package_item('pic/services-audit2.svg', 'Фирменный стиль', '')
					+inside_package_item('pic/services-audit3.svg', 'Сайт', '')
					+inside_package_item('pic/services-audit4.svg', 'Выводы и рекомендации', '')
				h2.package_title.package_subtitle Эксперты сервиса
			section.audit_experts_list
				.owl-carousel#services_audit.services_audit_slider
					+audit_expert('pic/audit-pic1.jpg', 'Алексей Фадеев', 'Креативный директор Depot branding agency. Академик Российской Академии Рекламы. Состоит в международном клубе арт-директоров ADC. Член жюри различных международных рекламных и дизайнерских фестивалей. Один из самых награждаемых творческих директоров в России.', '#')
					+audit_expert('pic/audit-pic2.jpg', 'Вадим Матюшкин', 'Креативный директор Depot branding agency. Академик Российской Академии Рекламы. Состоит в международном клубе арт-директоров ADC. Член жюри различных международных рекламных и дизайнерских фестивалей. Один из самых награждаемых творческих директоров в России.', '#')
					+audit_expert('pic/audit-pic3.jpg', 'Алексей Михайлов', 'Самый известный критик Рунета aka Kreatin. Более 25 лет в брендинге и рекламе. Лауреат множества наград от ADCR Awards до Каннских львов.', '#')

		include ../includes/service-block/servoces-footer-content
		include ../includes/footer

build/services-audit.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Brand Hub - Бренд мечты, а не мечты о бренде!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css?v=222222222">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/main-dist.js?v=222222222"></script>
    <script src="js/modal-dist.js?v=222222222"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.viewportchecker.min.js"></script>
    <script src="js/scroll-lock.min.js"></script>
  </head>
</html>
<body class="services audit_body">
  <div class="modal" id="modal_nav">
    <div id="modal_nav_position">
      <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="javascript:void(0)" id="mobile_nav_service_button">Услуги</a>
          <ul class="mobile_drop_nav">
            <li class="active"><a href="services-brand.html">Новый бренд</a></li>
            <li><a href="services-package.html">Дизайн упаковки</a></li>
            <li><a href="services-design.html">Дизайн сайта</a></li>
            <li><a href="services-market.html">Маркетплейс</a></li>
            <li><a href="services-audit.html">Аудит бренда</a></li>
            <li><a href="services-custom.html">Кастом</a></li>
          </ul>
        </li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Блог</a></li>
      </ul>
    </div>
      <button class="button_white" id="login_button_mobile"><span>Войти</span></button>
  </div>
  <div class="modal modal_right" id="modal_login_welcome">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">В шаге от своего бренда</div>
      <div class="modal_login_icon responsive_pic"><img src="pic/modal-login-enter.png"></div>
      <div class="modal_login_buttons">
          <button class="button_blue" id="modal_registration_button"><span>Регистрация</span></button>
          <button class="button_white" id="modal_login_button"><span>Вход</span></button>
        <div class="modal_social_buttons">
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-1.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-2.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-3.svg"></a></span></button>
        </div>
        <div class="modal_account_sub"><span>Нет аккаунта?</span>
          <button id="modal_sub_reg_button">Зарегестрируйтесь</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal_right" id="modal_registration">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">Зарегистрируйтесь</div>
      <form action="">
        <input type="text" name="full_name" placeholder="ФИО">
        <input type="email" name="email" placeholder="Электронная почта">
        <div class="password_show_hide">
          <input type="password" name="password" placeholder="Пароль">
          <button class="password_toggle_icon"><span></span></button>
        </div>
        <div class="check_password_complexity"></div>
        <label class="custom_checkbox">
          <input type="checkbox"><span>
            <p>Согласен&nbsp;<a href="#">с условиями обслуживания сервиса Brandhub</a></p></span>
        </label>
      </form>
      <div class="modal_login_buttons">
          <button class="button_blue" id="register_submit"><span>Зарегистрироваться</span></button>
        <div class="modal_social_buttons">
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-1.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-2.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-3.svg"></a></span></button>
        </div>
        <div class="modal_account_sub"><span>Есть аккаунт?</span>
          <button id="modal_sub_login_button">Войти</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal_right" id="modal_login">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">Войдите</div>
      <form action="">
        <input type="email" name="email" placeholder="Электронная почта">
        <div class="password_show_hide">
          <input type="password" name="password" placeholder="Пароль">
          <button class="password_toggle_icon"><span></span></button>
        </div>
        <div class="forgot_password">
          <p>Забыли пароль?</p>
          <button id="restore_password_button">Восстановить</button>
        </div>
        <div class="modal_login_buttons">
          <label class="custom_checkbox">
            <input type="checkbox"><span>
              <p>Запомнить меня</p></span>
          </label>
            <button class="button_blue" id="button_login"><span>Вход</span></button>
        </div>
      </form>
      <div class="modal_login_buttons">
        <div class="modal_social_buttons">
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-1.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-2.svg"></a></span></button>
          <button class="button_white"><span><a href="#" target="_blank"><img src="pic/social-3.svg"></a></span></button>
        </div>
        <div class="modal_account_sub"><span>Нет аккаунта?</span>
          <button id="modal_sub_reg_button">Зарегестрируйтесь</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal_right" id="modal_restore_password">
    <button class="close_modal close_main_nav"><span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
        </svg></span></button>
    <div class="modal_content_block">
      <div class="modal_title">Восстановление пароля</div>
      <form action="">
        <input type="email" name="email" placeholder="Электронная почта">
        <div class="modal_login_buttons">
            <button class="button_blue" id="reset_password_button"><span>Восстановить</span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="service_questions" id="service_questions_block">
    <button id="service_questions_button"></button>
    <div class="service_questions_block">
      <button class="close_modal close_main_nav"><span>
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
          </svg></span></button>
      <div class="title">Вопросы о сервисе</div>
      <div class="service_questions_content"><!-- SERVICE QUESTIONS ADMIN HAS LOGIN -->
        <div class="service_questions_content_item service_admin has_login">
          <div class="service_questions_content_position">
            <div class="service_questions_icon"><img src="pic/message-icon1.jpg" alt="Анна"></div>
            <div class="service_questions_message">
              <div class="service_questions_title">Анна</div>
              <div class="service_questions_text">Здравствуйте! Как я могу вам помочь?</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_admin">Отправлено 20:22</div><!-- SERVICE QUESTIONS ADMIN HAS LOGIN -->
<!-- SERVICE QUESTIONS USER HAS LOGIN -->
        <div class="service_questions_content_item service_user has_login">
          <div class="service_questions_content_position">
            <div class="service_questions_icon"><img src="pic/message-icon2.jpg" alt="Иван Иванов"></div>
            <div class="service_questions_message">
              <div class="service_questions_title">Иван Иванов</div>
              <div class="service_questions_text">Хотел узнать о статусе проекта</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_user">Отправлено 20:22</div><!-- END SERVICE QUESTIONS USER HAS LOGIN -->
<!-- SERVICE QUESTIONS ADMIN NO LOGIN -->
        <div class="service_questions_content_item service_admin no_login">
          <div class="service_questions_content_position">
            <div class="service_questions_message">
              <div class="service_questions_text">Здравствуйте! Как я могу вам помочь?</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_admin">Отправлено 20:22</div><!-- END SERVICE QUESTIONS ADMIN NO LOGIN -->
<!-- SERVICE QUESTIONS USER HAS LOGIN -->
        <div class="service_questions_content_item service_user no_login">
          <div class="service_questions_content_position">
            <div class="service_questions_message">
              <div class="service_questions_text">Хотел узнать о статусе проекта</div>
            </div>
          </div>
        </div>
        <div class="service_questions_content_item_timer service_user">Отправлено 20:22</div><!-- END SERVICE QUESTIONS USER HAS LOGIN -->
      </div>
      <div class="service_questions_form">
        <form action="">
          <input type="text" placeholder="Введите вопорс" value="" name="text">
        </form>
      </div>
    </div>
  </div>
  <div id="modal_video_block">
    <button class="close_modal close_modal_video" id="close_modal_video">
      <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z"></path>
      </svg>
    </button>
    <div class="modal_video_position">
      <div class="modal_video_youtube">
        <iframe width="904" height="508.5" src="https://www.youtube.com/embed/Z_eaCPZ3v2s?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="center_block" id="header">
    <header>
      <div class="header_position">
        <div class="logo"><a href="index2.html"><img src="pic/logo.svg"></a></div>
        <nav class="main_nav">
          <ul>
            <li><a href="about.html">О нас</a>
              <ul class="main_nav_drop">
                <li><a href="#">О сервисе</a></li>
                <li><a href="#">Как работает сервсис?</a></li>
                <li><a href="#">Чем мы отличаемся?</a></li>
              </ul>
            </li>
            <li><a href="services.html">Услуги</a>
              <ul class="main_nav_drop">
                <li class="active"><a href="services-brand.html">Новый бренд</a></li>
                <li><a href="services-package.html">Дизайн упаковки</a></li>
                <li><a href="services-design.html">Дизайн сайта</a></li>
                <li><a href="services-market.html">Маркетплейс</a></li>
                <li><a href="services-audit.html">Аудит</a></li>
                <li><a href="services-custom.html">Кастом</a></li>
              </ul>
            </li>
            <li><a href="projects.html">Проекты</a></li>
            <li><a href="blog.html">Блог</a></li>
          </ul>
        </nav>
          <button class="button_white" id="login_button"><span>Войти</span></button>
        <button class="button_white" id="mobile_nav_button"><span></span></button>
      </div>
    </header>
  </div>
  <div class="wrapped_block">
    <section class="services_header audit_header">
      <div class="center_block"><span class="dot red"></span><span class="dot pale_blue"></span>
        <div class="breadcrumbs_block">
          <ul>
            <li><a href="index.html">Главная</a></li>
            <li>Услуги</li>
          </ul>
        </div>
        <div class="services_title">
          <div class="services_title_left">
            <h1 class="title">Аудит бренда – получить рекомендации о том, как улучшить сайт, упаковку или фирменный стиль</h1>
            <p>Как можно улучшить существующий сайт, упаковку или логотип? Насколько ваши фирменные материалы могут работать эффективнее? Мы проанализируем и расскажем как улучшить</p>
            <div class="services_title_position">
              <p>Цена<span class="old_price">30 000 ₽</span><span>5 000 ₽</span></p>
              <p>Срок<span>3 дня</span></p>
            </div>
          </div>
          <div class="services_title_pic"><img src="pic/audit-header.png" alt="Аудит бренда – получить рекомендации о том, как улучшить сайт, упаковку или фирменный стиль"/></div>
        </div>
        <div class="services_header_buttons"><a class="services_link services_audit_link" href="#" target="_blank">Получить аудит</a><a class="services_download services_audit" href="#" target="_blank">Скачать пример</a></div>
      </div>
    </section>
    <div class="center_block">
      <section class="inside_package">
        <h2 class="package_title">Что входит в пакет?</h2>
        <div class="inside_package_position audit_icon_block">
          <div class="inside_package">
            <div class="inside_package_pic"><img src="pic/services-audit0.svg" alt="Нейминг"/></div><span class="title">Нейминг</span><span class="content"></span>
          </div>
          <div class="inside_package">
            <div class="inside_package_pic"><img src="pic/services-audit1.svg" alt="Стратегия"/></div><span class="title">Стратегия</span><span class="content"></span>
          </div>
          <div class="inside_package">
            <div class="inside_package_pic"><img src="pic/services-audit2.svg" alt="Фирменный стиль"/></div><span class="title">Фирменный стиль</span><span class="content"></span>
          </div>
          <div class="inside_package">
            <div class="inside_package_pic"><img src="pic/services-audit3.svg" alt="Сайт"/></div><span class="title">Сайт</span><span class="content"></span>
          </div>
          <div class="inside_package">
            <div class="inside_package_pic"><img src="pic/services-audit4.svg" alt="Выводы и рекомендации"/></div><span class="title">Выводы и рекомендации</span><span class="content"></span>
          </div>
        </div>
        <h2 class="package_title package_subtitle">Эксперты сервиса</h2>
      </section>
      <section class="audit_experts_list">
        <div class="owl-carousel services_audit_slider" id="services_audit">
          <div class="audit_expert_item">
            <div class="audit_expert_item_pic"><img src="pic/audit-pic1.jpg" alt="Алексей Фадеев"/></div>
            <div class="audit_expert_item_title"><a href="#" target="_blank">Алексей Фадеев</a></div>
            <div class="audit_expert_item_content">Креативный директор Depot branding agency. Академик Российской Академии Рекламы. Состоит в международном клубе арт-директоров ADC. Член жюри различных международных рекламных и дизайнерских фестивалей. Один из самых награждаемых творческих директоров в России.</div>
            <div class="audit_expert_item_link"><a href="#" target="_blank"><img src="pic/facebook.svg" alt="Алексей Фадеев"/><span>facebook</span></a></div>
          </div>
          <div class="audit_expert_item">
            <div class="audit_expert_item_pic"><img src="pic/audit-pic2.jpg" alt="Вадим Матюшкин"/></div>
            <div class="audit_expert_item_title"><a href="#" target="_blank">Вадим Матюшкин</a></div>
            <div class="audit_expert_item_content">Креативный директор Depot branding agency. Академик Российской Академии Рекламы. Состоит в международном клубе арт-директоров ADC. Член жюри различных международных рекламных и дизайнерских фестивалей. Один из самых награждаемых творческих директоров в России.</div>
            <div class="audit_expert_item_link"><a href="#" target="_blank"><img src="pic/facebook.svg" alt="Вадим Матюшкин"/><span>facebook</span></a></div>
          </div>
          <div class="audit_expert_item">
            <div class="audit_expert_item_pic"><img src="pic/audit-pic3.jpg" alt="Алексей Михайлов"/></div>
            <div class="audit_expert_item_title"><a href="#" target="_blank">Алексей Михайлов</a></div>
            <div class="audit_expert_item_content">Самый известный критик Рунета aka Kreatin. Более 25 лет в брендинге и рекламе. Лауреат множества наград от ADCR Awards до Каннских львов.</div>
            <div class="audit_expert_item_link"><a href="#" target="_blank"><img src="pic/facebook.svg" alt="Алексей Михайлов"/><span>facebook</span></a></div>
          </div>
        </div>
      </section>
    </div>
    <div class="center_block">
      <section class="services_footer_content">
        <h3 class="titl2">Проекты</h3>
        <div class="owl-carousel" id="services_footer_content_slider">
          <div class="services_footer_content_slider_item"><a href="#"></a>
            <div class="pic"><img src="pic/services-footer-c1.jpg" alt="Wellroom"></div><span>Wellroom</span>
          </div>
          <div class="services_footer_content_slider_item"><a href="#"></a>
            <div class="pic"><img src="pic/services-footer-c2.jpg" alt="Wellroom"></div><span>Wellroom</span>
          </div>
          <div class="services_footer_content_slider_item"><a href="#"></a>
            <div class="pic"><img src="pic/services-footer-c3.jpg" alt="Wellroom"></div><span>Wellroom</span>
          </div>
        </div>
      </section>
      <section class="services_blog">
        <h3 class="title">Блог</h3>
        <div class="services_blog_list">
          <div class="services_blog_item"><span class="date">17 апреля 2020 г.</span><a href="#">Основные ошибки в разработке логотипа</a>
            <p>Lorem ipsum dolor sit amet dolor sit amet lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="services_blog_item"><span class="date">23 марта 2020 г.</span><a href="#">12 сервисов для старта бизнеса</a>
            <p>Lorem ipsum dolor sit amet dolor sit amet lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="services_blog_item"><span class="date">16 апреля 2020 г.</span><a href="#">Брендинг - это эффективное самоопределение. А не логотип.</a>
            <p>Lorem ipsum dolor sit amet dolor sit amet lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
        </div>
      </section>
      <section class="need_help_v2">
        <div class="need_help_v2_item">
          <h3 class="title">Остались вопросы? Давайте обсудим</h3><span>Напишите нам на <a href="mailto:myemail@mydomain.ru">почту</a>, <a href="#" target="_blank">Telegram</a> или <a href="#" target="_blank">WhatsApp</a></span><span>Или звоните - <a href="tel:84954142486">8 (495) 414-24-86</a></span>
        </div>
        <div class="need_help_v2_item"><img src="pic/need-help-icon2.svg" alt="Остались вопросы? Давайте обсудим"><span class="dot red"></span><span class="dot pale_blue"></span></div>
      </section>
    </div>
    <footer>
      <div class="center_block">
        <div class="footer_position">
          <div class="footer_logo"><a href="index.html"><img src="pic/footer-logo.svg" alt="Бренд мечты, а не мечты о бренде!"></a></div>
          <div class="footer_links">
            <ul>
              <li><a href="cooperation.html">Сотрудничество</a></li>
              <li><a href="contacts.html">Контакты</a></li>
              <li><a href="documents.html">Документы</a></li>
            </ul>
          </div>
          <div class="footer_social_links">
            <ul>
              <li><a href="cooperation.html"><img src="pic/footer-social-1.svg" alt="Facebook"></a></li>
              <li><a href="cooperation.html"><img src="pic/footer-social-2.svg" alt="Instagram"></a></li>
              <li><a href="cooperation.html"><img src="pic/footer-social-3.svg" alt="Telegram"></a></li>
              <li><a href="cooperation.html"><img src="pic/footer-social-4.svg" alt="Youtube"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer_year"><span>© 2020</span></div>
      </div>
    </footer>
  </div>
</body>
